    

    <nav class="filters-panell">
    <div class="nav-about-list js-about-filter">
        <ul> 
            <li><a href="/about.html">ABOUT</a></li>
            <li><a href="/about_trustees.html" class="active">TRUSTEES</a></li>
            <li><a href="/about_library.html">LIBRARY</a></li>
            <li><a href="/about_partnerships.html">PARTNERSHIPS</a></li> 
        </ul>
        <i class="icon icon-filter-arrow"></i>
    </div>    
</nav>

    <div class="about-content">
        <div class="page-subtitle">
            <h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac accumsan urna. Quisque lacinia vehicula elit nec elementum. Cras tincidunt malesuada ligula sed feugiat. Donec a diam nec purus feugiat interdum at quis enim. Vivamus molestie risus vitae mauris dictum suscipit. Sed commodo imperdiet eros, sed maximus justo feugiat quis. Maecenas ut urna et elit maximus ornare pellentesque nec velit. 
                Nullam malesuada fringilla justo, eget fringilla massa. 
            </h4>
        </div>

        <div class="about-trustess-list">
            <div class="trustess-list_i">
                <div class="img">
                    <img src="" alt="">
                    <img src="../source/images/general/Trustees.png" alt="" class="frame-image">
                </div>
                <h3 class="name">JOHN SMITH</h3>
                <p>Mauris sodales posuere velit eget finibus. Praesent pellentesque magna ac sem ultrices convallis. Fusce faucibus nunc quis nisi congue, vitae ullamcorper arcu fringilla. Curabitur scelerisque viverra accumsan. Pellentesque habitant morbi tristique senectus et netus.</p>
            </div>
            <div class="trustess-list_i">
                <div class="img">
                    <img src="" alt="">
                    <img src="../source/images/general/Trustees.png" alt="" class="frame-image">
                </div>
                <h3 class="name">first name surname</h3>
                <p>Mauris sodales posuere velit eget finibus. Praesent pellentesque magna ac sem ultrices convallis. Fusce faucibus nunc quis nisi congue, vitae ullamcorper arcu fringilla. Curabitur scelerisque viverra accumsan. Pellentesque habitant morbi tristique senectus et netus.</p>
            </div>
            <div class="trustess-list_i">
                <div class="img">
                    <img src="" alt="">
                    <img src="../source/images/general/Trustees.png" alt="" class="frame-image">
                </div>
                <h3 class="name">first name surname</h3>
                <p>Mauris sodales posuere velit eget finibus. Praesent pellentesque magna ac sem ultrices convallis. Fusce faucibus nunc quis nisi congue, vitae ullamcorper arcu fringilla. Curabitur scelerisque viverra accumsan. Pellentesque habitant morbi tristique senectus et netus.</p>
            </div>
            <div class="trustess-list_i">
                <div class="img">
                    <img src="" alt="">
                    <img src="../source/images/general/Trustees.png" alt="" class="frame-image">
                </div>
                <h3 class="name">first name surname</h3>
                <p>Mauris sodales posuere velit eget finibus. Praesent pellentesque magna ac sem ultrices convallis. Fusce faucibus nunc quis nisi congue, vitae ullamcorper arcu fringilla. Curabitur scelerisque viverra accumsan. Pellentesque habitant morbi tristique senectus et netus.</p>
            </div>
            <div class="trustess-list_i">
                <div class="img">
                    <img src="" alt="">
                    <img src="../source/images/general/Trustees.png" alt="" class="frame-image">
                </div>
                <h3 class="name">first name surname</h3>
                <p>Mauris sodales posuere velit eget finibus. Praesent pellentesque magna ac sem ultrices convallis. Fusce faucibus nunc quis nisi congue, vitae ullamcorper arcu fringilla. Curabitur scelerisque viverra accumsan. Pellentesque habitant morbi tristique senectus et netus.</p>
            </div>
            <div class="trustess-list_i">
                <div class="img">
                    <img src="" alt="">
                    <img src="../source/images/general/Trustees.png" alt="" class="frame-image">
                </div>
                <h3 class="name">first name surname</h3>
                <p>Mauris sodales posuere velit eget finibus. Praesent pellentesque magna ac sem ultrices convallis. Fusce faucibus nunc quis nisi congue, vitae ullamcorper arcu fringilla. Curabitur scelerisque viverra accumsan. Pellentesque habitant morbi tristique senectus et netus.</p>
            </div>
        </div>
    </div>
    

    