<div class="projects-catalog">
    <div class="projects-catalog_item">
        <a href="/project.html" class="img">
            <img src="../source/images/projects/project-one.png">
            <img src="../source/images/general/Projects.png" alt="" class="frame-image">
        </a>
        <div class="project-content">
            <a href="/project.html" class="name">Amanatani Boarding House</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id libero ullamcorper, ultricies diam eu, venenatis augue. adipiscing elit. 
                Morbi id libero ullamcorper, ultricies diam eu,
            </p>
            <a href="/project.html">View Project</a>
        </div>
    </div>
    <div class="projects-catalog_item">
        <a href="/project.html" class="img">
            <img src="../source/images/projects/project-two.png">
            <img src="../source/images/general/Projects.png" alt="" class="frame-image">
        </a>
        <div class="project-content">
            <a href="/project.html" class="name">American Indian Institute</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id libero ullamcorper, ultricies diam eu, venenatis augue. adipiscing elit. 
                Morbi id libero ullamcorper, ultricies diam eu,
            </p>
            <a href="/project.html">View Project</a>
        </div>
    </div>
    <div class="projects-catalog_item">
        <a href="/project.html" class="img">
            <img src="../source/images/projects/project-three.png">
            <img src="../source/images/general/Projects.png" alt="" class="frame-image">
        </a>
        <div class="project-content">
            <a href="/project.html" class="name">Druk White Lotus School</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id libero ullamcorper, ultricies diam eu, venenatis augue. adipiscing elit. 
                Morbi id libero ullamcorper, ultricies diam eu,
            </p>
            <a href="/project.html">View Project</a>
        </div>
    </div>
    <div class="projects-catalog_item">
        <a href="/project.html" class="img">
            <img src="../source/images/projects/project-fore.png">
            <img src="../source/images/general/Projects.png" alt="" class="frame-image">
        </a>
        <div class="project-content">
            <a href="/project.html" class="name">Chawaytiri on the Road</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id libero ullamcorper, ultricies diam eu, venenatis augue. adipiscing elit. 
                Morbi id libero ullamcorper, ultricies diam eu,
            </p>
            <a href="/project.html">View Project</a>
        </div>
    </div>
    <div class="projects-catalog_item">
        <a href="/project.html" class="img">
            <img src="../source/images/projects/project-five.png">
            <img src="../source/images/general/Projects.png" alt="" class="frame-image">
        </a>
        <div class="project-content">
            <a href="/project.html" class="name">The Gkvds Project</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id libero ullamcorper, ultricies diam eu, venenatis augue. adipiscing elit. 
                Morbi id libero ullamcorper, ultricies diam eu,
            </p>
            <a href="/project.html">View Project</a>
        </div>
    </div>    
</div>