<div class="news-catalog">
    
    <div class="news-catalog-list">
        <div class="news-i news-i-big">
            <div class="news-info">
                
                <h5>21 MAY 2016</h5>
                <a href="/article.html" class="news-text">Park guards arrested for poaching in “shoot to kill” wildlife reserve</a> 
                <p>The Matsés people of the Amazon are master farmers. Worldwide, inestimable indigenous agricultural knowledge has been lost in the process of acculturation. Forgotten often before it is realized...</p>
                
            </div>
            <a href="/article.html" class="news-img">
                <img src="../source/images/news/news-big.png">
                <img src="../source/images/general/Latest_news.png" alt="" class="frame-image">
            </a>
         </div>
        <div class="news-i">
            <div class="news-info">
                <h5>21 MAY 2016</h5>
                <a href="/article.html" class="news-text">Park guards arrested for poaching in “shoot to kill” wildlife reserve</a>
            </div>                 
            <a href="/article.html" class="news-img">
                <img src="../source/images/content/maasai-villagers.png">
                <img src="../source/images/general/Latest_news.png" alt="" class="frame-image">
            </a>
         </div>
        <div class="news-i">
            <div class="news-info">
                <h5>21 MAY 2016</h5>
                <a href="/article.html" class="news-text">Park guards arrested for poaching in “shoot to kill” wildlife reserve</a>
            </div>
            <a href="/article.html" class="news-img">
                <img src="../source/images/content/nomad-tuaregs.png">
                <img src="../source/images/general/Latest_news.png" alt="" class="frame-image">
            </a>
        </div> 
        <div class="news-i">
            <div class="news-info">
                <h5>21 MAY 2016</h5>
                <a href="/article.html" class="news-text">Park guards arrested for poaching in “shoot to kill” wildlife reserve</a>
            </div> 
            <a href="/article.html" class="news-img">
                <img src="../source/images/news/news-small-one.png">
                <img src="../source/images/general/Latest_news.png" alt="" class="frame-image">
            </a>
        </div>
        <div class="news-i">
            <div class="news-info">
                <h5>21 MAY 2016</h5>
                <a href="/article.html" class="news-text">Park guards arrested for poaching in “shoot to kill” wildlife reserve</a> 
            </div>    
            <a href="/article.html" class="news-img">
                <img src="../source/images/news/news-small-five.png">
                <img src="../source/images/general/Latest_news.png" alt="" class="frame-image">
            </a>
        </div>
        <div class="news-i">
            <div class="news-info">
                <h5>21 MAY 2016</h5>
                <a href="/article.html" class="news-text">Park guards arrested for poaching in “shoot to kill” wildlife reserve</a>
            </div>
            <a href="/article.html" class="news-img">
                <img src="../source/images/news/news-small-two.png">
                <img src="../source/images/general/Latest_news.png" alt="" class="frame-image">
            </a>
        </div>
        <div class="news-i">
            <div class="news-info">
                <h5>21 MAY 2016</h5>
                <a href="/article.html" class="news-text">Park guards arrested for poaching in “shoot to kill” wildlife reserve</a>
                <p>Park guards arrested for poaching in “shoot to kill” wildlife reservePark guards arrested for poaching in “shoot to kill” wildlife reservePark guards arrested for poaching in “shoot to kill” wildlife reservePark guards arrested for poaching in “shoot to kill” wildlife reservePark guards arrested for poaching in “shoot to kill” wildlife reserve</p>
            </div> 
            
        </div> 
        <div class="news-i">
            <div class="news-info">
                <h5>21 MAY 2016</h5>
                <a href="/article.html" class="news-text">Park guards arrested for poaching in “shoot to kill” wildlife reserve</a>
            </div> 
            <a href="/article.html" class="news-img">
                <img src="../source/images/news/news-small-three.png">
                <img src="../source/images/general/Latest_news.png" alt="" class="frame-image">
            </a>
        </div>
        <div class="news-i">
            <div class="news-info">
                <h5>21 MAY 2016</h5>
                <a href="/article.html" class="news-text">Park guards arrested for poaching in “shoot to kill” wildlife reserve</a>
            </div> 
            <a href="/article.html" class="news-img">
                <img src="../source/images/news/news-small-fore.png">
                <img src="../source/images/general/Latest_news.png" alt="" class="frame-image">
            </a>
        </div>                     
    </div>
    <div class="btn-wrapper">
        <a class="btn btn-load-more">load more</a>
    </div>
</div>