.projects-catalog{
    padding-top: 100px;
    @include cf();
    @include mq(tab){
        padding-top: 55px;
    }
    @include mq(mb){
        padding-top: 30px;
    }
    .projects-catalog_item{
        width: 50%;
        box-sizing: border-box;
        float: left;
        padding:  0 0 25px 10px;
        &:nth-child(odd){
            padding:  0 10px 25px 0;
            @include mq(tab){
                padding:  25px 0;
            }
            @include mq(mb){
                padding:  0 0 20px 0;
            }
        }
        @include cf();
        @include mq(tab){
            width: 100%;
            padding: 25px 0;
        }
        @include mq(mb){
            width: 100%;
            padding: 0 0 20px 0;
        }

        .img{
            display: block;
            position: relative;
            float: left;
            width: 275px;
            overflow: hidden;
            margin: 0 28px 0 0;
            background: #f0f0f0;
            @include mq(desksmall){
                width: 200px;
                margin: 0 10px 0 0; 
            }
            @include mq(tab){
                width: 175px;
            }
            @include mq(mb){
               width: 100%;
               margin: 0 0 14px 0;
            }
            img{
                display: block;
                min-width: 100%;
                @include mq(tab){
                    width: 100%;
                }
                @include mq(mb){
                    width: 100%;
                }
                // width: 100%;
            }
        }
        .project-content{
            @include mq(tab){
                padding: 0 0 0 200px;
            }
        }
        .name{
            font-family: $galanosemibold;
            font-size: 18px;
            line-height: 20px;
            color: #4c5054;
            padding: 0 0 10px 0;
        }
        p{
            font-family: $galanoregular;
            font-size: 14px;
            line-height: 25px;
            color: #4c5054;
            padding: 0 0 10px 0;
            @include mq(mb){
                line-height: 18px;
            }
        }
        a{
            display: inline-block;
            font-family: $galanosemibold;
            font-size: 14px;
            line-height: 20px;
            color: #f6a704;
            opacity: 1;
            transition: opacity 0.3s ease 0s;
            &:hover{
                opacity: 0.8;
            }
            // padding: 0 0 10px 0;
        }
    }    
}