<footer>
    <div class="footer-left ">
        <div class="coppyright">
            <p>&#169; 2016 The Onaway Trust </p>
            <p>Registered in England and Wales: Charity no 268448 and Scotland: Charity no SC042366 </p>
        </div>
    </div>
    <a href="/" class="logo">
        <img src="../source/images/general/onaway_logo_notext.svg" alt="">
    </a>
    <div class="footer-right">
        <a href="#">
            <i class="icon icon-twitter">
                <svg xmlns="http://www.w3.org/2000/svg" width="17.781" height="15.313" viewBox="0 0 17.781 15.313">
                    <defs>
                        <style>
                        .cls-1 {
                            fill: #4c5054;
                            fill-rule: evenodd;
                        }
                        </style>
                    </defs>
                    <path id="Twitter" class="cls-1" d="M50.787,11.557c-0.085.694-1.055,1.391-1.642,1.919C49.725,22.353,40.036,27.89,33,23.392a8.013,8.013,0,0,0,5.372-1.706,3.816,3.816,0,0,1-3.387-2.666,4.42,4.42,0,0,0,1.54-.107,3.881,3.881,0,0,1-2.874-3.732,4.934,4.934,0,0,0,1.54.32,4.44,4.44,0,0,1-1.129-5.118,10.868,10.868,0,0,0,7.7,4.052c-0.887-3.919,4.113-6.347,6.363-3.518a12.719,12.719,0,0,0,2.361-.853,5.074,5.074,0,0,1-1.54,2.026A5.418,5.418,0,0,0,50.787,11.557Z" transform="translate(-33 -9.688)"/>
                </svg>
            </i>
        </a>
        <a href="#">
            <i class="icon icon-facebook">
                <svg xmlns="http://www.w3.org/2000/svg" width="6.938" height="15.938" viewBox="0 0 6.938 15.938">
                    <defs>
                        <style>
                        .cls-1 {
                            fill: #4c5054;
                            fill-rule: evenodd;
                        }
                        </style>
                    </defs>
                    <path id="Facebook" class="cls-1" d="M73.817,9.114v2.548s-1.75-.187-2.188.533a7.75,7.75,0,0,0-.119,2.372h2.321c-0.2.967-.337,1.623-0.481,2.46H71.5v7.916H68.281c0-2.44,0-5.288,0-7.885H66.912V14.567h1.353c0.069-1.821.1-3.625,0.939-4.544C70.152,8.99,71.055,9.114,73.817,9.114Z" transform="translate(-66.906 -9)"/>
                </svg>

            </i>
        </a>
    </div>
</footer>
<script src="//cdn.trackduck.com/toolbar/prod/td.js" async data-trackduck-id="5a27b61134eedb0f5665ceea"></script>