
<div class="providing">
    <div class="providing-left">
        {{#if subtitle}}
    <h5>{{subtitle}}</h5>
    {{/if}} 
    </div>
    <div class="providing-right">
        {{#if text}}
    <p>{{text}}</p>
        {{/if}}
    </div>
</div>
