<div class="projects">
    <div class="projects-left">
           {{> big-title/big-title bigtitle.homeproject}}
    </div>
    <div class="projects-right">
        <div class="project">
            <a href="#" class="project-img">
                <img src="../source/images/content/aluna.png">
                <img src="../source/images/general/Projects.png" alt="" class="frame-image">
            </a>
            <div class="project-content">
                <a href="" class="project-title">Aluna: The Movie</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id libero ullamcorper, ultricies diam eu, venenatis augue. adipiscing elit. 
                    Morbi id libero ullamcorper, ultricies diam eu,
                </p>
                <a href="#">View Project</a>
            </div>
        </div>

        <div class="project">
            <a href="#" class="project-img">
                <img src="../source/images/content/indian.png">
                <img src="../source/images/general/Projects.png" alt="" class="frame-image">
            </a>
            <div class="project-content">
                <a href="" class="project-title">American Indian Institute</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id libero ullamcorper, ultricies diam eu, venenatis augue. adipiscing elit. 
                    Morbi id libero ullamcorper, ultricies diam eu,
                </p>
                <a href="#">View Project</a>
            </div>
        </div>
    </div>
</div>