<div class="protecting">
    
    <div class="protecting-left">
        <h1>PROTECTING CIVIL LIBERTIES</h1>
        <div class="protecting-text">
            <p>Lorem ipsum dolor sit amet, consectetu adipiscing elit. 
                Nam porttitor facilisis nunc ac luctus. Sed nec sagittis enim. 
                Donec ultrices at purus eu bibendum. 
                Quisque a eleifend ipsum, eu dignissim risus.
            </p>
            <a href="#">FIND OUT MORE</a>
        </div>
    </div>

    <div class="protecting-right">
        <div class="protecting-img">
            <img src="../source/images/content/protecting.png">
        </div>
    </div>
    
</div>