<div class="latest-news">
    <div class="latest-news__left">

        {{> big-title/big-title bigtitle.homenews}}
        
    </div>
    <div class="latest-news__right">
        <div class="news-i">
            <h5>21 may 2016</h5>
            <a href="#" class="news-text">Park guards arrested for poaching in “shoot to kill” wildlife reserve</a> 
            
            <a href="#" class="news-img">
                <img src="../source/images/content/maasai-villagers.png">
                <img src="../source/images/general/Latest_news.png" alt="" class="frame-image">
            </a>
         </div>
        <div class="news-i">
            <h5>21 MAY 2016</h5>
            <a href="#" class="news-text">Park guards arrested for poaching in “shoot to kill” wildlife reserve</a> 
            <a href="#" class="news-img">
                <img src="../source/images/content/nomad-tuaregs.png">
                <img src="../source/images/general/Latest_news.png" alt="" class="frame-image">
            </a>
        </div>
        <div class="news-i">
            <h5>21 MAY 2016</h5>
            <a href="#" class="news-text">Park guards arrested for poaching in “shoot to kill” wildlife reserve</a> 
            <a href="#" class="news-img">
                <img src="../source/images/content/man-orange.png">
                <img src="../source/images/general/Latest_news.png" alt="" class="frame-image">
            </a>
        </div>  
        <div class="news-i">
            <h5>21 MAY 2016</h5>
            <a href="#" class="news-text">Park guards arrested for poaching in “shoot to kill” wildlife reserve</a> 
            <a href="#" class="news-img">
                <img src="../source/images/content/karapiru-3.png">
                <img src="../source/images/general/Latest_news.png" alt="" class="frame-image">
            </a>
        </div>                      
    </div>
</div>