<html>
    {{> head/head }}
    
    <body>
        {{> header/header header}}
        <div class="preloader js-preload"></div>
        <main class="window-wrapp about-page" data-page-id="1">
            {{> main-banner/main-banner banner.about}}  
            <div class="content-wrap">
                {{> about_partnerships/about_partnerships}}
            </div>
            {{> banner-light/banner-light bnnerlight.patner}}
        </main>
         
        {{> scripts/scripts}}
        {{> footer/footer}}
    </body>
    

</html>