<html>
        {{> head/head }}
        
        <body>
            {{> header/header header}}
            
            <main class="window-wrapp about-page" data-page-id="1">
                {{> main-banner/main-banner banner.about}}
                <div class="content-wrap">
                    {{> about/about}}
                </div>    

            </main>
             
            {{> scripts/scripts}}
            {{> footer/footer}}
        </body>
        
    
    </html>
    