<html>
    {{> head/head }}
    
    <body>
        <script>window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
            
            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };
            
            return t;
            }(document, "script", "twitter-wjs"));
        </script>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.11';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        {{> header/header header}}
        <div class="preloader js-preload"></div>
        <main class="window-wrapp" data-page-id="5">
           
            {{> article-content/article-content}}
            
         </main>
         
        {{> scripts/scripts}}
        {{> footer/footer}}
    </body>
    

</html>