<html>
    {{> head/head }}
    
    <body>
        {{> header/header header}}
        <div class="preloader js-preload"></div>
        <main class="window-wrapp" data-page-id="3">
            {{> main-banner/main-banner banner.cause}}
            <div class="content-wrap">
                {{> cause/cause}}
            </div>    
            {{> banner-light/banner-light bnnerlight.cause}}
        </main>
         
        {{> scripts/scripts}}
        {{> footer/footer}}
    </body>
    

</html>