<html>
    {{> head/head }}
    <body>
        {{> header/header}}
        <div class="preloader js-preload"></div>
        <main class="window-wrapp causes-page" data-page-id="0">
            {{> main-banner/main-banner banner.causes}}
            <div class="content-wrap">
                {{> providing/ providing providing.causes}}

                
                {{> causes/ causes}}
            </div>
                {{> banner-light/banner-light bnnerlight.causes}}
        </main>
          
        {{> scripts/scripts}}

        {{> footer/footer}}
    </body>
    
    
</html>
