<html>
    {{> head/head }}
    <body>
        {{> header/header}}
        <div class="preloader js-preload"></div>
        <main class="window-wrapp" data-page-id="0">
            
            
                {{>contact/contact }}
               
          
                {{> banner-light/banner-light bnnerlight.contact}}
        </main>
          
        {{> scripts/scripts}}

        {{> footer/footer}}
    </body>
    
    
</html>
