<html>
    {{> head/head }}
    
    <body>
        {{> header/header header}}
        <main class="window-wrapp prject-page" data-page-id="2">
            <div class="content-wrap">
                {{> donate/donate}}
                         
            </div>
            {{> banner-light/banner-light bnnerlight.project}} 
        </main> 
         
        {{> scripts/scripts}}
        {{> footer/footer}} 
    </body>
    

</html>