<html>
    {{> head/head }}
    <body>
        {{> header/header}}
        <main class="window-wrapp" data-page-id="0">
                {{> main-banner/main-banner banner.home}}
                <div class="content-wrap">
                    {{> home-news/home-news}}
                
                    {{> home_vision/home_vision}}

                    {{> home_projects/home_projects}}

                    {{> newsletter/ newsletter}}
                </div>
               

                
                {{> banner-grey/ banner-grey}}
            
        </main>
         
        {{> scripts/scripts}}

        {{> footer/footer}}
    </body>
    
    
</html>
