<html>
    {{> head/head }}
    
    <body>
        {{> header/header header}}
        <main class="window-wrapp news-page" data-page-id="4">
            <div class="content-wrap"> 

                {{> news-data/news-data}}
                {{> news-web/news-web}}                
                
            </div>
            <div class="banner-light">
                
                {{> newsletter/newsletter}}                
                
            </div>
            
        </main> 
         
        {{> scripts/scripts}}
        {{> footer/footer}} 
    </body>
    

</html>