<html>
    {{> head/head }}
    
    <body class="project-page">
        {{> header/header header}}
        <div class="preloader js-preload"></div>
        <main class="window-wrapp" data-page-id="2">
            {{> main-banner/main-banner banner.projects}}
            <div class="content-wrap">
                {{>providing/providing providing.projects}}
                {{>projects-content/projects-content}}
            </div>

        </main>
         
        {{> scripts/scripts}}
        {{> footer/footer}}
    </body>
    

</html>
