<html>
    {{> head/head }}
    
    <body>
        {{> header/header header}}
        <main class="window-wrapp prject-page" data-page-id="2">
                {{> main-banner/main-banner banner.project}}
            <div class="content-wrap">
                {{> project/project}}
                         
            </div>
            {{> banner-light/banner-light bnnerlight.project}} 
        </main> 
         
        {{> scripts/scripts}}
        {{> footer/footer}} 
    </body>
    

</html>