<div class="project-block-i">   
        <div class="project-updates_list">
            <a href="#" class="title">project updates</a> 
            
            <div class="project-updates_list_item">
                <div class="img">
                    <img src="./source/images/content/SI-1.png" alt="">
                    <img src="../source/images/general/Projects.png" class="frame-image">
                </div>
                <div class="project-updates_text">
                    <h5>03 april 2016</h5>
                    <span>Victory for Dongria as Supreme Court quashes new mining attempt</span>
                    <p>The Matsés people of the Amazon are master farmers. Worldwide, inestimable indigenous agricultural knowledge has been lost in the process of acculturation realized...</p>
                </div>
            </div>
            <div class="project-updates_list_item">
                <div class="img">
                    
                </div>
                <h5>15 january 2016</h5>
                <span>Tribal leader in Europe to expose the darker side of Brazil the upcoming Olympic games</span>
                <p>The Matsés people of the Amazon are master farmers. Worldwide, inestimable indigenous agricultural knowledge has been lost in the process of acculturation. Forgotten often before it is realized what has been lost well...</p>
            </div>
            <div class="project-updates_list_item">
                <div class="img">
                    
                </div>
                <h5>03 april 2016</h5>
                <span>Tribal leader in Europe to expose the darker side of Brazil the upcoming Olympic games</span>
                <p>The Matsés people of the Amazon are master farmers. Worldwide, inestimable indigenous agricultural knowledge has been lost in the process of acculturation realized...</p>
            </div>

        </div>
</div>    