<div class="big-page-title">
    <div class="title-layout">
        <h2>{{title}}</h2>
    </div>

    <div class="text">
        {{#if text}}
            <p>{{text}}</p>
        {{/if}}
        {{#if link}}
            <a href="#">{{link}}</a>
        {{/if}}
    </div>
</div> 