
<nav class="filters-panell">
    <div class="nav-about-list js-about-filter">
        <ul>    
            <li><a href="/about.html">ABOUT</a></li>
            <li><a href="/about_trustees.html">TRUSTEES</a></li>
            <li><a href="/about_library.html">LIBRARY</a></li>
            <li><a href="/about_partnerships.html" class="active">PARTNERSHIPS</a></li>    
        </ul>
        <i class="icon icon-filter-arrow"></i>
    </div>    
</nav>

<div class="about-content">
    <div class="page-subtitle">
        <h4>
            Onaway’s vision is of a world where Native Peoples are able to maintain their traditional lifestyles and preserve their knowledge, skills and traditions for a sustainable future. Onaway wants the world to be a sustainable home where they culture and diversity are respected for what they can teach us and future for the generations. Onaway seeks wider recognition of the fact that Indigenous peoples may hold the key to a more sustainable future for the whole planet.
        </h4> 
    </div>
    <div class="post-block">
        <div class="partnerships-catalog">
            <div class="partnerships-catalog_item">
                <div class="img">
                        <img src="./source/images/about/hand.png" alt="">
                        <img class="img_frame" src="" alt="">

                </div>
                    <h3 class="name">Concern Worldwide</h3>
                    <p> Working directly with the Matsés people, one of the largest indigenous populations in the Peruvian Amazon rainforest, we are implementing strategic programs that provide much needed revenue without destroying their land and chosen way of life. 
                    </p>
                    <a href="#">Visit<i class="icon icon-coner-top_right"></i></a>
            </div>
            <div class="partnerships-catalog_item">
                <div class="img">
                        <img src="./source/images/about/hand.png" alt="">
                        <img class="img_frame" src="" alt="">
                </div>
                    <h3 class="name">World Wide Fund for Nature</h3>
                    <p> Working directly with the Matsés people, one of the largest indigenous populations in the Peruvian Amazon rainforest, we are implementing strategic programs that provide much needed revenue without destroying their land and chosen way of life. 
                    </p>
                    <a href="#">Visit<i class="icon icon-coner-top_right"></i></a>
            </div>
            <div class="partnerships-catalog_item">
                <div class="img">
                        <img src="./source/images/about/hand.png" alt="">
                        <img class="img_frame" src="" alt="">

                </div>
                    <h3 class="name">Survival International</h3>
                    <p> Working directly with the Matsés people, one of the largest indigenous populations in the Peruvian Amazon rainforest, we are implementing strategic programs that provide much needed revenue without destroying their land and chosen way of life. 
                    </p>
                    <a href="#">Visit<i class="icon icon-coner-top_right"></i></a>
            </div>
            <div class="partnerships-catalog_item">
                <div class="img">
                        <img src="./source/images/about/hand.png" alt="">
                        <img class="img_frame" src="" alt="">

                </div>
                    <h3 class="name">Concern Worldwide</h3>
                    <p> Working directly with the Matsés people, one of the largest indigenous populations in the Peruvian Amazon rainforest, we are implementing strategic programs that provide much needed revenue without destroying their land and chosen way of life. 
                    </p>
                    <a href="#">Visit<i class="icon icon-coner-top_right"></i></a>
            </div>
            <div class="partnerships-catalog_item">
                <div class="img">
                        <img src="./source/images/about/hand.png" alt="">
                        <img class="img_frame" src="" alt="">

                </div>
                    <h3 class="name">Concern Worldwide</h3>
                    <p> Working directly with the Matsés people, one of the largest indigenous populations in the Peruvian Amazon rainforest, we are implementing strategic programs that provide much needed revenue without destroying their land and chosen way of life. 
                    </p>
                    <a href="#">Visit<i class="icon icon-coner-top_right"></i></a>
            </div>
            <div class="partnerships-catalog_item">
                <div class="img">
                        <img src="./source/images/about/hand.png" alt="">
                        <img class="img_frame" src="" alt="">

                </div>
                    <h3 class="name">Concern Worldwide</h3>
                    <p> Working directly with the Matsés people, one of the largest indigenous populations in the Peruvian Amazon rainforest, we are implementing strategic programs that provide much needed revenue without destroying their land and chosen way of life. 
                    </p>
                    <a href="#">Visit<i class="icon icon-coner-top_right"></i></a>
            </div>
        </div>
    </div>
</div>    
    