@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

$lato: 'Lato', sans-serif;
$cormorantitalic: 'cormorant_garamondbold_italic';
$grotzecon: 'grotzec_cond_boldregular';
// $grotzecon: 'DIN Next LT W01 Bold';
$galanoregular: 'Galano Grotesque W00 Regular';
$galanosemibold: 'Galano Grotesque W00 SemiBold';



@font-face {
    font-family: 'grotzec_cond_boldregular';
    src: 
        url('%=static=%fonts/GrotzecCond-Bold.otf')  format('opentype'),
        url('%=static=%fonts/GrotzecCond-Bold.otf') format('woff'),
        url('%=static=%fonts/GrotzecCond-Bold.ttf')  format('truetype'),
        url('%=static=%fonts/GrotzecCond-Bold.svg') format('svg');;
    font-weight: normal;
    font-style: normal;

}
// @font-face {
//     font-family: 'cormorant_garamondbold_italic';
//     src: url('../fonts/cormorantgaramond-bolditalic-webfont.woff2') format('woff2'),
//          url('../fonts/cormorantgaramond-bolditalic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }