


.filters-panell{
    padding-top: 50px;
    position: relative;
    @include mq(mb){
        //padding: 40px 25px 0 25px;
        margin: 0 auto;
        padding: 40px 0 0 0;
    }
    .nav-about-list{
        
        position: relative;
        text-align: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 20px;
        border-top: 1px solid;
        @include mq(mb){
            position: absolute;
            width: 100%;
            text-align: left;
            flex-direction: column;
            border: 1px solid;
            height: 50px;
            overflow: hidden;
            padding: 0;
            background: #fff;
        }
        @include color('border', 'color');
        li{
            display: inline-block;
            padding: 0 45px 0 0;
            @include mq(mb){
                display: block;
                padding: 0;
            }
            &:last-child{
                padding: 0;
            }
        }
        
        a{  
            display: inline-block;
            font-family: $grotzecon;
            color: grey;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            transition: color 0.4s ease 0s;
            @include mq(mb){
                padding: 14px;
            }
            &:hover{
                color: #f6a704;
            }
            &.active{
                color: #f6a704;
            }
            
        }
        .icon-filter-arrow{
            display: none;
            position: absolute;
            top: 20px;
            right: 14px;
            transform-origin: center center;
            transform: rotate(180deg); 
            @include mq(mb){
                display: block;
            }
        }
    }
}