// .posts-list {
//     display: flex;
//     flex-wrap: wrap;
//     .post-item {
//         width: 50%;
//         padding: 15px 0;
//         display: flex;
//         flex-direction: row;
//         .post-item__photo {
//             height: 130px;
//             width: 100px;
//             background-color: gainsboro;
//         }
//     }
//     .post-item:nth-child(odd){
//         padding-right: 50px;
//         width: calc(50% - 50px);
//     } 
//     .post-item__content {
//         padding-left: 20px;
//     }
// }

// .text-style{
//     font-family: $galanoregular;
//     font-size: 20px;

// }
// .posts-list {
//     overflow: hidden;
//     .post-item {
//         width: 50%;
//         padding: 15px 0;
//         float: left;
//         .post-item__photo {
//             height: 130px;
//             width: 100px;
//             background-color: gainsboro;
//             display: inline-block
//         }
//     }
//     .post-item__content {
//         display: inline-block;
//         vertical-align: top;
//         padding-left: 20px;
//         width: calc(100% - 125px);
//         .post-item__content__name {
//             font-family: $galanosemibold;
//             font-size: 18px;
//             color: #4c5054;
//             line-height: 20px;
//         }
//         .post-item__content__author {
//             font-size: 14px;
//             line-height: 20px;
//         }
//         .post-item__content__more a{
//             font-family: $galanosemibold;
//             font-size: 14px;
//             color: #f6a704;
//         }
//     }
// }

.libarry-catalog{
    padding-top: 30px;
    @include cf();
    .libarry-catalog_item{
        width: 50%;
        box-sizing: border-box;
        float: left;
        padding:  0 0 25px 0;
        @include cf();
        &:nth-child(odd){
            padding-right: 20px;
            @include mq(mb){
                padding-right: 0;
            }
        }
        @include mq(mb){
            width: 100%;
        }
        .img{
            float: left;
            width: auto;
            margin: 0 17px 0 0;
            background: #f0f0f0;
            img{
                width: auto;
                min-width: 100px;
                min-height: 130px;
                
            }
        }
        .name{
            font-family: $galanosemibold;
            font-size: 18px;
            line-height: 20px;
            color: #4c5054;
            padding: 0 0 10px 0;
        }
        p{
            font-family: $galanoregular;
            font-size: 14px;
            line-height: 25px;
            color: #4c5054;
            padding: 0 0 10px 0;
            @include mq(mb){
                line-height: 14px;
            }
        }
        a{
            display: inline-block;
            font-family: $galanosemibold;
            font-size: 14px;
            line-height: 20px;
            color: #f6a704;
            opacity: 1;
            transition: opacity 0.3s ease 0s;
            &:hover{
                opacity: 0.8;
            }
            // padding: 0 0 10px 0;
        }
    }
}
