.about-content{
    width: 80%;
    margin: 0 auto;
    @include mq(tab){
        width: 100%;
    }
    @include mq(mb){
        width: 100%;
        padding: 50px 0 0 0;
    }
    .quatation{
        // width: 80%;
        margin: 0 auto;
        @include mq(mb){
            width: auto;
            //padding: 30px 25px 30px 25px;
            padding: 40px 0;
        }    
    } 
}






