.about-trustess-list{
    width: 80%;
    margin: 0 auto;
    @include mq(tab){
        width: 100%;
    }
    @include mq(mb){
        width: auto;
    }
    .trustess-list_i{
        padding: 0 0 50px 0;
        @include cf();
        .img{
            min-height: 175px;
            min-width: 175px;
            background: #4b5054;
            float: left;
            position: relative;
            margin: 0 27px 0 0;
            @include mq(mb){
                min-height: 125px;
                min-width: 125px;
            }
        }
        .name{
            font-family: $grotzecon;
            font-size: 28px;
            line-height: 32px;
            text-transform: uppercase;
            padding: 0 0 20px 0;
            color: #4c5054;
            @include mq(mb){
                font-size: 21px;
                line-height: 20px;
            }
        }
        p{
            font-family: $galanoregular;
            font-size: 14px;
            line-height: 20px;
            color: #666666;
            @include mq(mb){
                display: inline-block;
                padding-top: 20px;
            }    
        }
    }
}


















.row-list{
    .row-list__item{
        width: 100%;
        padding-top: 50px;
        overflow: hidden;
        //display: flex;
        //flex-direction: row;
        .row-list__item__photo{
            display: inline-block;
            float: left;
        }
        .row-list__item__text{
            display: inline-block;
        }
    }
}

.person-list{

    .person-item{
        // width: 100%;
        // padding-top: 50px;
        // display: flex;
        // flex-direction: row;
        .person-item__photo{
            height: 170px;
            width: 170px;
            background-color: gainsboro;
        }
        .person-item__text{
            width: calc(100% - 200px);
            padding-left: 30px;
            .person-item__text__name{
                span{
                    font-family: $grotzecon;
                    font-size: 28px;
                }
            }
            .person-item__text__info{
                p{
                    font-size: 14px;
                    padding-top: 20px;
                }
            }
        }
    }
}