.article-wrapper{
    margin: 15px 100px 0 100px;
    padding-top: 116px;
    border-top: 1px solid;
    @include color('border', 'border-color');
    @include mq (tab){
       margin: 0 30px;
       padding-top: 80px;
    }
    @include mq (mb){
        margin: 0 15px;
        padding-top: 0;
    }
    .article-content{
    // padding: 0 407px;
        width: 70%;
        margin: 0 auto;
        padding-bottom: 100px;
        text-align: center;
        font-family: $grotzecon;
        text-transform: uppercase;
        @include mq(deskbig){
            width: 100%;
        }
        
        @include mq (tab){
            width: 100%;
            padding-bottom: 60px;
            text-align: center;
        }
        @include mq (mb){
            width: 100%;
            padding-bottom: 54px;
            text-align: center;
        }
    }
    .article-content-wrap{
        // padding: 98px;
        
        width: 70%;
        margin: 0 auto;
        @include mq(desksmall){
            width: 90%;
        }
        @include mq (tab){
            
            width: 100%;                        
        }
        @include mq (mb){
            padding-top: 35px; 
            width: 100%;                        
        }
    }    
    .article-content-img{
        width: 100%;
        margin:  0 0 83px 0;
        position: relative;
        @include mq (tab){
            padding:0 30px;
            margin: 0 0 57px 0;
            box-sizing: border-box;                         
        }
        @include mq (mb){
            margin: 0 0 40px 0;
            box-sizing: border-box;                         
        }
            img{
                width: 100%;
            }
    }
    .article-content-text{
        @include mq (tab){
            padding:0 90px;
            box-sizing: border-box;                         
        }
        @include mq (mb){
            padding:0 10px;
            box-sizing: border-box;                         
        }
        p{
            text-align: left;
            text-transform: none;
            font-family: $galanoregular;
            font-size: 16px;
            line-height: 25px;
            padding: 0 0 26px 0;
            @include color('dove-gray', 'color');
            @include mq (mb){
                font-size: 14px;
                line-height: 18px;                    
            }
            
        }
        a{
            font-family: $galanosemibold;
            text-decoration: underline;
            transition: color 0.3s ease 0s;
            @include color('dove-gray', 'color');
            &:hover{
                text-decoration: none;
                @include color('orange', 'color');
            }
        }
    }
    .article-content-likes{
        text-align: left;
        @include mq (tab){
            padding:0 90px;
            box-sizing: border-box;                         
        }
        @include mq (mb){
            padding:50px 0 0 10px;
            box-sizing: border-box;                         
        }
        p{  
            display: inline-block;
            font-family: $grotzecon;
            font-size: 20px;
            line-height: 25px;
            padding-right: 30px;
            position: relative;
            top: -2px;
            @include color('grey', 'color'); 
            @include mq (mb){
                display: block;
                padding-bottom: 15px;
            }
        }
        a{
            padding-right: 10px;
        }
    }
}
.article-title{
    padding: 0 0 85px 0;
    @include mq(tab){
        width: 70%;
        margin: 0 auto;
        padding: 0 0 70px 0;
    }
    @include mq(mb){
        padding: 0;
    }
    span{
        display: block;
        font-family: $grotzecon;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        text-align: center;
        padding: 0 0 30px 0;
        @include color('grey-light', 'color');
        @include mq (tab){
            font-size: 18px;
            line-height: 22px;
            padding: 0 0 10px 0;
        }
        @include mq (mb){
            padding: 40px 0 8px 0;
            font-size: 18px;
        }
    }
    h2{
        
        font-size: 75px;
        line-height: 60px;
        padding: 0 0 38px 0;
        @include color('grey', 'color');
        @include mq (tab){
            font-size: 50px;
            line-height: 45px;
            padding: 0 0 23px 0;
        }
        @include mq (mb){
            padding: 0;
            font-size: 28px;
            line-height: 26px;
        }
    }
    p{
        
        font-size:20px; 
        line-height: 24px;
        @include color('orange', 'color');
        @include mq (tab){
            
            font-size: 18px;
            line-height: 22px;
        }
        @include mq (mb){
            padding-top: 15px;
            font-size: 18px;
            line-height: 22px;
        }
    }
}
.article-banner{
    width: 95%;
    margin: 0 auto;
    padding: 45px 0 73px 0;
    // height: 338px;
    background-image: url('../images/content/banner-light.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    @include mq (tab){
        padding: 110px 0 70px 0;
    }
    @include mq (mb){
        // height: 529px;
    }
    
}
.article-banner-content{
    width: 810px;
    margin: 0 auto;
    @include cf();
    @include mq (tab){
        width: 582px; 
                              
    }
    @include mq (mb){
        width: 269px;
        padding: 0 15px;
    }
}    
.article-banner-content-left{
    width: 50%;
    float: left;
    position: relative;
    box-sizing: border-box;
    padding: 0 0 0 60px;
    @include mq(tab){
        padding: 0 20px 0 0;
    }
    @include mq (mb){
        width: 100%;
        float: none;
        padding-top: 85px;
        padding: 40px 0 0 0;
    }
    .img{
        position: relative;
        display: block;
        opacity: 1;
        transition: opacity 0.3s ease 0s;
        &:hover{
            opacity: 0.7;
        }
    }
    img{
        width: 100%;
    }
    
}
.article-banner-title{
    position: absolute;
    top: 55%;
    left: -18%;
    font-family: $grotzecon;
    font-size: 40px;
    text-transform: uppercase;
    @include trans3d(25%, -50%);
    @include color('orange', 'color');
    @include mq (tab){
        top: -55px;
        left: 72%;
        font-size: 36px;
    }
    @include mq (mb){
        top: 0px;
        left: 50%;
        font-size: 28px;
        @include trans3d(-50%, 0);
    }
    
}
.article-banner-content-right{
    width: 50%;
    float: right;
    padding-top: 48px;
    padding-left: 60px;
    box-sizing: border-box;
    @include mq (tab){
        padding: 0 0 0 10px;
    }
    @include mq (mb){
        width: 100%;
        float: none;
        padding-left: 0;
        padding-top: 32px;
    }
    .title{
        display: block;
        font-size: 16px;
        line-height: 20px;
        font-family: $galanosemibold; 
        padding: 0 115px 0 0;
        @include color('grey', 'color'); 
        @include mq(tab){
            padding: 0 45px 0 0;
        }
        @include mq(mb){
            padding: 0;
        }
    }
    p{
        padding-top: 18px;
        padding-bottom:10px; 
        font-size: 14px;
        line-height: 18px;
        font-family: $galanoregular; 
        @include color('grey', 'color'); 
        @include mq (mb){
            padding-top: 11px;
        } 
    }
    a{
        font-family: $galanosemibold;
        font-size: 14px;
        opacity: 1;
        transition: opacity 0.3s ease 0s;
        @include color('orange', 'color');
        &:hover{
            opacity: 0.8;
        }
    }
}