.big-page-title{
    .text{
        padding-top: 39px;
        padding-left: 113px;
        padding: 39px 0 0 113px;
        
        @include mq (tab){
           padding: 0;
           position: relative;
        }
        @include mq (mb){
            padding: 0;
            position: relative;
        }
        p{
            font-size: 14px;
            line-height: 20px;
            font-family: $galanoregular;
            padding: 0 0 16px 0;
            @include color('grey', 'color');
            @include mq (tab){
                display: none;
            }
            @include mq (mb){
                display: none;
            }
        }
        a{
            text-transform: uppercase;
            font-size: 20px;
            line-height: 24px;
            font-family: $grotzecon;
            transition: opacity 0.3s ease 0s;
            @include color('orange', 'color');
            &:hover{
                opacity: 0.8;
            }
            @include mq (tab){
                position: absolute;
                white-space: nowrap;
                top: -40px;
                left: 100%;
                @include trans3d(-100%, 0);
            }
            @include mq (mb){
                font-size: 18px;
                position: absolute;
                white-space: nowrap;
                top: -56px;
                left: 100%;
                @include trans3d(-100%, 0);
            }
        }
    }
}
.title-layout{
    padding: 61px 0 0 0;
    @include mq(tab){
        padding: 0;
    }
    @include mq(mb){
        padding: 0 50px 30px 0px;
    }
    h2{
        display: inline-block;
        position: relative;
        font-family: $grotzecon;
        font-size: 120px;
        line-height: 124px;
        text-transform: uppercase;
        line-height: 0.8;
        letter-spacing: 0.5;
        @include color('grey', 'color');
        @include mq(tab){
            font-size: 55px;
            line-height: 59px;
            letter-spacing: -1px;
                &:before{
                    width: 0;
                    height: 0;
            }
        }
        @include mq(mb){
            font-size: 36px;
            line-height: 40px;
            letter-spacing: -0.5px;
        }
        &:before{
            content: '';
            width: 97px;
            height: 21px;
            display: block;
            position: absolute;
            top: -57px;
            left: 102px;
            // top: -40px;
            // left: 50%;
            // @include trans3d(-50%, -50%);
            background-image: url(../images/content/sub-stripe-1.png );
            background-repeat: no-repeat;
            @include mq(tab){
                display: none;
            }
            @include mq(mb){
                display: none;
            }
        }
    }
}