.cause-content{
    width: 80%;
    margin: 0 auto;
    @include mq(tab){
        width: 100%;
    }
    @include mq(mb){
        width: 100%;
    }
}
// .post-block-cause{
//     p{
//         padding-bottom: 0;
//     }
// }

