.contact-content{
    
    margin: 15px 100px 0 100px;
    padding-top: 70px;
    border-top: 1px solid;
    @include color('border', 'border-color');
    @include mq (deskmid){
        padding-top: 20px;
    }
    @include mq (tab){
        padding: 0;
        margin: 15px 30px 0 30px;
    }
    @include mq (mb){
        width: 91%;
        margin: 0 auto;
        padding: 0;
    }
}
   
.contact-item{
    width: 1200px;

    margin: 0 auto;
    padding-bottom: 127px;
    @include cf();
    @include mq(deskmid){
        width: 80%;
        padding: 0 0 50px 0;
    }
    @include mq (desksmall){
        padding: 0 0 50px 0;
        width: 80%;
    }
    @include mq (tab){
        width: calc(100% - 30px);
        padding: 0;
        box-sizing: border-box;
    }
    @include mq (mb){
        width: 100%;
        padding: 0;
        box-sizing: border-box;
    }  
}     
.contact-item-left{
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 9px 0 0 38px;
    @include mq (deskbig){
        padding: 105px 0 0 0;
    }
    @include mq (deskmid){
        padding: 105px 0 0 0;
    }
    @include mq (desksmall){
        padding: 0;
    }
    @include mq(tab){
        width: 100%;
        float: none;
        padding: 53px 80px 0px 80px;
    }
    @include mq(mb){
        width: 100%;
        float: none;
        padding-top: 40px;
    }
        .contact-item-left-img{
            width: 100%;
            img{
                width: 100%;
            }
        }
}
.contact-item-right{
    width: 50%;
    
    padding: 105px 0 0 122px;
    float: right;
    box-sizing: border-box;
    @include mq(deskmid){
        padding: 105px 0 0 60px;
    }
    @include mq (desksmall){
        padding-top: 0;
        padding-left: 15px;
    }
    @include mq(tab){
        width: 100%;
        float: none;
        padding-left: 0;
        padding-top: 70px;
    }
    @include mq(mb){
        width: 100%;
        float: none;
        padding: 20px 0 0 0;
    }
    .title-contact{
        padding: 61px 0 0 0;
        @include mq(tab){
            padding: 0;
        }
        @include mq(mb){
            padding: 20px 0 0 0;
        }
            h2{
            display: inline-block;
            position: relative;
            font-family: $grotzecon;
            font-size: 120px;
            line-height: 124px;
            text-transform: uppercase;
            line-height: 0.8;
            letter-spacing: -1px;
            @include color('grey', 'color');
            @include mq(desksmall){
                font-size: 100px;
                line-height: 104px; 
            }
            @include mq(tab){
                font-size: 55px;
                line-height: 59px;
                letter-spacing: -1px;
                margin-left: 50%;
                @include trans3d(-50%, 0%);
                    &:before{
                        width: 0;
                        height: 0;
                }
            }
            @include mq(mb){
                margin-left: 50%;
                @include trans3d(-50%, 0%);
                font-size: 36px;
                line-height: 40px;
                letter-spacing: -0.5px;
            }
            &:before{
                content: '';
                width: 97px;
                height: 21px;
                display: block;
                position: absolute;
                top: -46px;
                left: 102px;
                // top: -40px;
                // left: 50%;
                // @include trans3d(-50%, -50%);
                background-image: url(../images/content/sub-stripe-1.png );
                background-repeat: no-repeat;
                @include mq(tab){
                    display: none;
                }
                @include mq(mb){
                    display: none;
                }
            }
        }
    }
    .contact-item-text{
        padding: 50px 0 0 104px;
        @include mq(deskmid){
            padding: 50px 0 0 60px;
        }
        @include mq (tab){
            padding: 18px 54px 54px 56px;
        }
        @include mq (mb){
            padding: 17px 10px 35px 11px;
            
        }
        
        p{  font-family: $galanoregular;
            font-size: 16px;
            line-height: 24px;
            @include color('grey', 'color');
            
            @include mq (mb){
                padding: 0;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}
    

.contact-inputs{
    width: 1200px;
    margin: 0 auto;
    padding: 85px 0 59px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    @include color('border', 'border-color');
    @include mq(deskmid){
        width: calc(80% - 200px);
    }
    @include mq(desksmall){
        width: calc(80% - 200px);
    }
    @include mq (tab){
        width: 76%;
        padding: 53px 0 55px 0;
    }
    @include mq (mb){
        width: 85%;
        margin: 0 auto;
        padding: 34px 0 40px 0;
    }
    form{
        width: 585px;
        margin: 0 auto;
        padding:0 0 36px 0px;
        &.error{
            .btn-submit{
                .error-messs{
                    display: block;
                    @include mq(mb){
                        position: relative;
                        
                    }
                }
            }
        }
        @include mq (tab){
            width: 100%;
            padding-left: 0;
        }
        @include mq (mb){
            width: 100%;
            padding: 0 0 35px 0;
        }
    }
    .error-messs{
        display: none;
        font-family: $galanoregular;
        font-size: 14px;
        line-height: 20px;
        color: #ff0000;
        position: absolute;
        top: 0px;
        right: 0;
    }
    .input{
        padding: 0 0 36px 0;
        position: relative;
        &.error{
            .error-messs{
                display: block;
            }
            input{
                border-color: #ff0000;
            }
            textarea{
                border-color: #ff0000;
            }
        }
        p{
            font-family: $grotzecon;
            font-size: 16px;
            text-transform: uppercase;
            @include color('grey', 'color');
            padding-bottom: 4px;
        }
        
        input{
            width: 100%;
            height: 50px;
            border: 1px solid;
            padding-left: 15px;
            font-family: $galanoregular;
            font-size: 18px;
            line-height: 50px;
            
            outline: none;
            @include color('border', 'border-color');
            &:focus{
                @include color('grey', 'border-color');
            }
            @include mq (mb){
                font-size: 16px;
            }
        }
        textarea{
            width: 100%;
            height: 193px;
            resize: none;
            border: 1px solid;
            padding: 10px 15px;
            font-size: 18px;
            line-height: 22px;
            outline: none;
            @include color('border', 'border-color');
            &:focus{
                @include color('grey', 'border-color');
            }
            @include mq(mb){
                font-size: 16px;
                line-height: 20px;
            }
            
        }
        &.checkbox{
            display: -webkit-box;
            .checkbox-input{
            
                input{
                    
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    border: 1px solid;
                    box-sizing: border-box;
                    outline: none;
                    @include color('border', 'border-color');
                    &:checked{
                        @include color('grey', 'border-color');
                        @include color('grey', 'outline-color');
                        background: url('../images/contact/check.png')no-repeat;
                        background-position:50% 50%; 
                    }
                }   
            }
            p{
                display: inline-block;
                padding-left: 25px;
                font-family: $galanoregular;
                font-size: 14px;
                line-height: 18px;
                text-transform: none;
                @include color('grey', 'color');
                @include mq (mb){
                    padding: 0 5px 0 23px;
                    line-height: 20px;
                }
                @include mq (tab){
                    padding: 0 15px 0px 20px;
                }
            }
        }
    }
    .btn-submit{
        position: relative;
        .error-messs{
            top: 15px;
        }
    }
}    
    
.contact-submit{
    display: inline-block;
    padding-left: 30px;
    display:inline-block;
    padding: 13px 46px;
    font-family: $grotzecon;
    font-size: 20px;
    text-transform: uppercase;
    transition: background 0.3s ease 0s;
    @include color('grey', 'background');
    @include color('white', 'color');
    &:hover{
        @include color('orange', 'background');
    }
   
    
}
    

.address-partnerships{
    width: 575px;
    margin: 0 auto;
    padding: 72px 0 98px 0;
    @include cf();
    @include mq (tab){
        width: 100%;
        padding: 48px 106px 53px 90px;
        box-sizing: border-box;
    }
    @include mq (mb){
        width: 100%;
        padding: 31px 0 42px 0;
        box-sizing: border-box;
    }
    h2{
        padding-bottom: 18px;
        font-family: $grotzecon;
        font-size: 28px;
        text-transform: uppercase;
        @include color('grey', 'color');
        @include mq (mb){
            padding-bottom: 14px;
        }
        
    }
    p{
        // padding-bottom: 10px;
        font-family: $galanoregular;
        font-size: 14px;
        line-height: 20px;
        @include color('grey', 'color');
        @include mq (tab){
            padding-bottom: 0; 
        }
        
    }
    .address{
        width: 50%;
        float: left;
        box-sizing: border-box;
        padding-right: 145px;
        @include mq (tab){
            padding-right: 160px;
        }
        @include mq (mb){
            width: 100%;
            float: none;
            padding: 7px 139px 0 25px;
            
        }
    }
    .partnerships{
        width: 50%;
        box-sizing: border-box;
        padding-left: 23px;
        float: right;
        @include mq (mb){
            width: 100%;
            float: none;
            padding-bottom: 25px;
        }
        a{
            font-family: $galanosemibold;
            font-size: 14px;
            opacity: 1;
            transition: opacity 0.3s ease 0s;
            @include color('orange', 'color');
            &:hover{
                opacity: 0.7;
            }
        }
        
    }
}























