.donate-content{
    .our-donate{
        padding: 60px 0 71px 0;
        border-bottom: solid 1px;
        @include cf();
        @include color('white', 'background');
        @include color('border', 'border-color');
        @include mq (tab){
            padding-top: 0px;
            padding-bottom: 54px;
        }
        @include mq(mb){
            position: relative;
            padding-top: 90px;
            padding-bottom: 25px
        }
        .donate-left{
            width: 41%;
            padding: 15px 0px 0px 32px;
            float: left;
            @include mq (tab){
                width: 44%;
                padding-top: 53px;
                padding-left: 12px
            }
            @include mq (mb){
                width: 100%;
                // height: 51%;
                float: none;
                padding: 0;
            }
            .donate-image{
                @include mq(mb){
                    padding: 0 0 20px 0;
                }
                .vision-img{
                    display: block;
                    width: 100%;
                    @include mq (mb){
                        width: 100%;
                        
                    }
                }
            }                
        }
        .donate-right{
            width: 50%;
            float: right;
            box-sizing: border-box;
            padding-top: 95px;
            padding-left: 115px;
            padding-right: 20px;
            @include mq(desksmall){
                padding: 95px 0 0 0;
            }
            @include mq(tab){
                padding-top: 70px;
                padding-left: 12px;
                padding-right: 0;
            }
            @include mq(mb){
                width: 100%;
                float: none;
                padding:0;
            }
            .title-layout{
                @include mq(mb){
                    position: absolute;
                    top: 32px;
                    left: 50%;
                    text-align: center;
                    @include trans3d(-35%, 0);
                        h2{
                            @include mq (mb){
                                white-space: nowrap;
                            }
                        }
                }
            }
                .donate-text{
                    padding-left: 113px;
                    padding-top: 39px;
                    @include mq(tab){
                        padding-top: 15px;
                        padding-left: 0;
                    }
                    @include mq(mb){
                        padding:0;
                    }
                    p{  
                        padding-bottom: 16px;
                        font-family: $galanoregular;
                        font-size: 14px;
                        line-height: 20px;
                        @include color('grey', 'color');
                    }
                    a{
                        font-size: 20px;
                        line-height: 24px;
                        font-family: $grotzecon;
                        text-transform: uppercase;
                        transition: opacity 0.3s ease 0s;
                        @include color('orange', 'color');
                        &:hover{
                            opacity: 0.8;
                        }
                        
                    }
                }
        }
    }
    .form-donate{
        .donate_form-column{
            padding-bottom: 65px;
            form{
                .form-row{
                    width: 100%;
                    padding-bottom: 45px;
                    @include cf();
                    label{
                        font-family: $grotzecon;
                        font-size: 18px;
                        line-height: 36px;
                        text-transform: uppercase;
                        color: #4c5054;
                        p{
                            font-family: $galanoregular;
                            font-size: 18px;
                            line-height: 18px;
                            padding-left: 10px;
                            display: inline-block;
                            text-transform: none;
                        }
                    }
                    input{
                       height: 48px;
                       width: 100%;
                       border: 1px solid #cccccc; 
                       &:focus{
                        outline-color: #4c5054;
                        
                       }     
                    }
                                   
                    .form-row_checkbox{
                        position: relative;
                        text-align: left;
                        display: flex;
                        padding-top: 15px;
                        &:first-child{
                            margin-left: 0; 
                        }                          
                        .radio {
                            margin-right: 35px;
                            input[type="radio"] {
                              position: absolute;
                              opacity: 0;
                              display: none;
                              + .radio-label {
                                &:before {
                                  content: '';
                                  background: #ffffff;
                                  border-radius: 100%;
                                  border: 1px solid darken(#ffffff, 25%);
                                  display: inline-block;
                                  width: 15px;
                                  height: 15px;
                                  position: relative;
                                  vertical-align: top;
                                  cursor: pointer;
                                  text-align: center;
                                  transition: all 250ms ease;
                                }
                              }
                              &:checked {
                                + .radio-label {
                                  &:before {
                                    background-color: #f6a704;
                                    box-shadow: inset 0 0 0 3px #ffffff;
                                    border-color: #666666;
                                  }
                                }
                              }
                              &:focus {
                                + .radio-label {
                                  &:before {
                                    outline: none;
                                    border-color: #666666;
                                  }
                                }
                              }
                            }
                        }                             
                    }
                    .form-row_50{
                        float: left;
                        width: 48%;
                        margin-right: 4%;
                        &:last-child{
                            margin-right: 0;
                        }
                        label{

                        }
                        input{
                            height: 48px;
                            
                            border: 1px solid #cccccc;  
                        }
                    }
                }
                .form-col-card {
                    background-color: #cccccc;
                    padding: 30px;
                    border-radius: 5px;
                    .form-row{
                        padding-bottom: 15px; 
                    }
                }
                .form-text{
                    padding: 45px 0;
                    span{
                        font-family: $galanoregular;
                        font-size: 21px;
                        color: #666666;
                        padding-bottom: 15px;
                    }
                    p{
                        font-family: $galanoregular;
                        font-size: 16px;
                        color: #666666;
                        display: inline-block;
                    }

                    .form-row_checkbox{
                        position: relative;
                        text-align: left;
                        display: block;
                        padding-top: 30px;
                        &:first-child{
                            margin-left: 0; 
                        }                          
                        .radio {
                            margin-right: 35px;
                            margin-bottom: 15px;
                            input[type="radio"] {
                              position: absolute;
                              opacity: 0;
                              display: none;
                              + .radio-label {
                                  p{padding-left: 14px;}
                                &:before {
                                  content: '';
                                  background: #ffffff;
                                  border-radius: 100%;
                                  border: 1px solid darken(#ffffff, 25%);
                                  display: inline-block;
                                  width: 15px;
                                  height: 15px;
                                  position: relative;
                                  vertical-align: top;
                                  cursor: pointer;
                                  text-align: center;
                                  transition: all 250ms ease;
                                }
                              }
                              &:checked {
                                + .radio-label {
                                  &:before {
                                    background-color: #f6a704;
                                    box-shadow: inset 0 0 0 3px #ffffff;
                                    border-color: #666666;
                                  }
                                }
                              }
                              &:focus {
                                + .radio-label {
                                  &:before {
                                    outline: none;
                                    border-color: #666666;
                                  }
                                }
                              }
                            }
                        }                             
                    }
                } 
                .btn-wrapper{
                    text-align: left;
                    .btn-load-more{
                        font-size: 20px;
                        line-height: 50px;
                        font-family: $grotzecon;
                        color: #ffffff;
                        padding: 0 40px;
                        background-color: #999999;
                        text-transform: uppercase;
                        cursor: pointer;
                        opacity: 1;
                        text-transform: uppercase;
                        transition: opacity 0.3s ease 0s;
                        cursor: pointer;
                    }
                }              
            }
        }
    }
}




