.latest-news{
    padding: 90px 0;

    @include color('white', 'background');
    @include cf();
    border-bottom: solid 1px;
    @include color('border', 'border-color');
        .left-latest{
            width: 50%;
            float: left;
                .latest-subtitel{
                    h1{ 
                        text-align: left;
                        font-size: 120px;
                        font-family: $grotzecon;
                        @include color('grey', 'color');
                    }
                }
                .latest-text{
                    padding-top: 47px;
                    padding-left: 102px;
                    padding-right: 50px;
                    font-size: 14px;
                    
                        p{
                            padding-bottom: 21px;
                            @include color('grey', 'color');
                            font-family: $galanoregular;
                        }
                        a{
                            @include color('orange', 'color');
                            font-size: 20px;
                            font-family: $grotzecon;
                        }
                }
            
        }
        .right-latest{
            width: 50%;
            float: right;
            @include cf();
            .news{
                width: 50%;
                float: left;
                padding-bottom: 46px;
                    h5{
                        padding-bottom: 18px;
                        font-family: $grotzecon;
                        font-size: 17px;
                        @include color('orange', 'color');
                    }
                    p{
                        font-family: $galanosemibold;
                        font-size: 18px;  
                        @include color('grey', 'color');
                    }
                img{
                    padding-top: 30px;
                }
            }
        }
}