.window-wrapp{
    transform-origin: center center;
    position: relative;
    width: 100%;
    // height: 100%;
    @include mq(mb){
        overflow: hidden;
    }
    .result-page &{
        @include mq(mb){
            overflow: auto;
            height: auto;
        }
    }
}
.main-bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    img{
        display: block;
        width: 100%;
        height: 100%;
        @include mq(mb){
            width: auto;
            min-width: 125%;
            position: absolute;
            top: 0;
            left: 50%;
            @include trans3d(-50%, 0);
        }
    }
}
.main-section{
    width: 100%;
    height: 100%;
}
.main-section-title{
    position: relative;
    z-index: 2;
    padding: 112px 0 0 115px;
    width: 800px;
    // box-sizing: border-box;
    overflow: hidden;
    @include mq(desksmall){
        width: 600px;
        padding: 10% 0 0 80px;
    }
    @include mq(mb){
        width: 100%;
        box-sizing: border-box;
        padding: 84px 20px 37px 20px;
    }
    .white-line{
        position: absolute;
        left: 0px;
        top: 60px;
        @include trans3d(-100%, 0);
        @include mq(mb){
            top: 64px;
            left: 0;
        }
    }
    h1{
        position: relative;
        display: block;
        // font-family: $garlight;
        font-size: 68px;
        line-height: 64px;
        letter-spacing: -1px;
        font-style: italic;
        
        opacity: 1;
        
        @include mq(desksmall){
            font-size: 48px;
            line-height: 52px;
        }  
        @include mq(mb){
            font-size: 24px;
            line-height: 26px;
            letter-spacing: 0px;
            
        }
    }

}
.main-section-subtitle{
    position: absolute;
    z-index: 1;
    top: 47%;
    right: 200px;
    opacity: 1;
    @include mq(desksmall){
        right: 100px;
    }
    @include mq(mb){
        right: inherit;
        position: relative;
        top: inherit;
        padding: 0 24px;
    }
    p{
        // font-family: $hellight;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        @include color('mineshaft', 'color');
        @include mq(mb){
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
        }
    }
}

.main-btn{
    // border: 1px solid;
    border: none;
    padding: 5px;
    position: absolute;
    bottom: 102px;
    right: 200px;
    z-index: 1;
    opacity: 1;
    // transform: translate3d(-100%, 0, 0);
    transform-origin: center center;
    transition: border-color 0.4s ease 0s;
    @include color('white', 'border-color');
    &:hover{
        @include color('poloblue', 'border-color');
        a{
            color: rgba(96,196,235, 0.8);
            background: #ffffff
            // @include color('white', 'color');
            // @include color('white', 'color');
            // @include color('poloblue', 'background');
        }
    }
    @include mq(desksmall){
        bottom: 70px;
        right: 100px;
    }
    @include mq(mb){
        
        border: none;
        width: 240px;
        bottom: 98px;
        left: 50%;
        @include trans3d(-50%, 0);
    }
    a{
        display: block;
        height: 70px;
        padding: 0 81px;
        text-align: center;
        line-height: 70px;
        // font-family: $helvreg;
        font-size: 18px;
        text-transform: uppercase;
        transition: color 0.4s ease 0s, background 0.4s ease 0s;
        // @include color('poloblue', 'color');
        // @include color('white', 'background');
        background: rgba(96,196,235, 0.8);
        @include color('white', 'color');
        @include mq(mb){
            font-size: 14px;
            padding: 0;
            letter-spacing: 1px;
            line-height: 60px;
            height: 60px;
            background: rgba(96,196,235, 0.8);
            @include color('white', 'color');
        }

        &:after{
            content: '';
            display: none;
            width: 26px;
            height: 26px;
            position: absolute;
            left: -9px;
            bottom: -11px;
            border-left: 3px solid;
            border-bottom: 3px solid;
            @include color('white', 'border-color'); 
            // @include mq(mb){
                
            // }
            display: block;
        }
        &:before{
            content: '';
            display: none;
            width: 26px;
            height: 26px;
            position: absolute;
            right: -11px;
            top: -9px;
            border-top: 3px solid;
            border-right: 3px solid;
            @include color('white', 'border-color');
            // @include mq(mb){
                display: block;
            // }
        }   
        
    }
}