.main-banner{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 0 19px 0 34px;
    @include mq(tab){
        padding: 0 5px;
    }
    @include mq(mb){
        padding: 0 5px;
    }
    .img-block{
        position: relative;
        @include color('back-banner', 'background');
        @include mq(tab){
            max-height: 524px;
            overflow: hidden;
        }
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0.3;
        } 
        img{
            display: block;
            width:100%;
            opacity: 1;
            
        }
        .desk{
            @include mq(tab){
                display: none;
            }
            @include mq(mb){
                display: none;
            }
        }
        .mob{
            display: none;
            @include mq(tab){
                display: block;
            }
            @include mq(mb){
                display: block;
            }
        }
        .shark{
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 1;
        }
    }
    .empty{
        width: 100%;
        margin-bottom: 50px;
        @include mq(mb){
            margin-bottom: 0px;
        }
        .shark{
            position: relative;
            display: block;
            height: auto;
            width: 100%;
            opacity: 1;
            @include mq(mb){
                min-height: 300px;
                height: auto;
            }
        }
    }
    .banner-text{
        position: absolute;
        top: 54%;
        width: 61%;
        text-align: center;
        left: 50%;
        @include trans3d(-50%, -50%);
        @include mq(mb){
            width: 75%;
        } 
        
        // .about-page &{
            
        //     h1{
        //         @include mq(mb){
        //             font-size: 60px;
        //             line-height: 56px;
        //         }
        //     }
        //     p{
        //         @include mq(mb){
        //             display: none;
        //         }
        //     }
        // }
        // .project-page & {
        //     h1{
        //         font-size: 120px;
        //         line-height: 110px;
        //         @include mq(mb){
        //             font-size: 60px;
        //             line-height: 60px;
        //         }
        //     }
        //     p{
        //         @include mq(mb){
        //             display: none;
        //         }
        //     }
        //}
    }
    h1{
        font-size: 75px;
        line-height: 59px;
        padding-bottom: 50px;
        font-family: $grotzecon;
        text-transform: uppercase;
        @include color('white', 'color');
        
        // @include mq(deskmid){
        //     font-size: 40px; 
        //     line-height: 44px;
        // }
        @include mq(desksmall){
            font-size: 40px;
            line-height: 44px;
        }
        @include mq(tab){
            font-size: 49px;
            line-height: 40px;
            padding: 0 0 20px 0;
        }
        @include mq(mb){
            font-size: 28px;
            line-height: 25px;
            padding: 0 0 10px 0;
        }
        .causes-page &{
            font-size: 120px;
            line-height: 56px;
            @include mq(tab){
                font-size: 90px;
            }
            @include mq(mb){
                font-size: 60px;
            }
        }
    }
    a{
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0;
        font-family: $grotzecon;
        text-transform: uppercase;
        transition: opacity 0.3s ease 0s;
        @include color('orange', 'color');
        &:hover{
            opacity: 0.8;
        }
        @include mq(mb){
            font-size: 18px;
            line-height: 22px;
        }
    }
    P{
        font-family: $galanoregular;
        font-size: 20px;
        line-height: 25px;
        width: 55%;
        margin: 0 auto;
        @include color('white', 'color');
        @include mq(mb){
            display: none;
        }
        .causes-page &{
            width: 50%;
        }
    }
    h4{
        color: #f6a704;
        font-size: 21px;
        line-height: 24px;
        @include mq(tab){
            font-size: 16px;
            line-height: 20px;
        }
        @include mq(mb){
            font-size: 14px;
            line-height: 20px;
        }
    }
}


