.news-web-catalog{
    @include cf();
   
    padding: 40px 0 100px 0;
    border-top: 1px solid;
    margin: 0 -15px;
    @include color('border', 'border-color'); 
    @include mq(tab){
        padding: 40px 60px 100px 60px;
    }
    h2{
        font-family: $grotzecon;
        font-size: 40px;
        line-height: 60px;
        text-transform: uppercase;
        text-align: center;
        padding: 0 0 50px 0;
        color: #4c5054;
        @include mq(mb){
            font-size: 28px;
            line-height: 25px;
            padding: 0 0 20px 0;
        }
    }
    .news-web-catalog_list{
        // width: 100%;
        margin: 0 -20px;
        @include cf();
        .news-web-catalog_item{
            width: 25%;
            box-sizing: border-box;
            float: left;
            @include cf();
            padding:  0 20px 50px 20px;
            @include mq(tab){
                width: 50%;
                padding: 0 10px 30px 10px;
            }
            @include mq(mb){
                width: 100%;
                padding-bottom: 30px;
            }
            @include cf();
            // &:nth-child(even){
            //     @include mq(tab){
            //     padding: 0 0 60px 0;
            //     }
            // }
            .name{
                font-family: $galanosemibold;
                font-size: 18px;
                line-height: 20px;
                color: #4c5054;
                padding: 0 0 20px 0;
                overflow: hidden;
                @include mq(mb){
                    padding: 0;
                }
            }
            P{
                font-family: $galanoregular;
                font-size: 14px;
                line-height: 20px;
                color: #4c5054;
                height: 84px;
                overflow: hidden;
                @include mq(mb){
                    display: inline-block;
                    height: auto;
                    max-height: 85px;
                    line-height: 20px;
                    padding: 0px 0 10px 0px;
                }
            }
            a{
                display: inline-block;
                font-family: $galanosemibold;
                font-size: 14px;
                line-height: 20px;
                padding: 10px 0;
                color: #f6a704;
                opacity: 1;
                transition: opacity 0.3s ease 0s;
                text-decoration: underline;
                &:hover{
                    opacity: 0.8;
                    text-decoration: none;
                }
                @include mq(mb){
                    padding: 0;
                }
                // padding: 0 0 10px 0;
            }
        }
    } 
    .btn-wrapper{
        text-align: center;
        @include cf();
        @include mq(tab){
            padding: 20px 0 0 0;
        }
        
        .btn-load-more {
            font-size: 20px;
            line-height: 50px;
            font-family: $grotzecon;
            color: #ffffff;
            padding: 0 40px;
            background-color: #999999;
            opacity: 1;
            text-transform: uppercase;
            
            transition: background-color 0.3s ease 0s;
            cursor: pointer;
            &:hover{
                background-color: #f6a704;
            }
        }
    }       
}
