
.news-page{
    border-top: 1px solid #e3e3e3;
    margin: 15px 100px 0 100px;;
    width: auto;
    @include mq(tab){
        margin: 5px 30px 0 30px;
    }
    @include mq(mb){
        margin: 0 15px;
        overflow: visible;
    }
    .content-wrap{
        @include mq(desksmall){
            padding: 0;
        }
        @include mq(tab){
            padding: 0;
        }
        @include mq(mb){
            padding: 0 20px;
        }
    }
    .banner-light{
        @include mq(mb){
            margin: 0;
            width: 100%;
        }
        .newsletter-wrapp{
            @include mq(mb){
                min-width: 0;
            }
            .letter-input{
                @include mq(mb){
                    padding: 0;
                }
                input{
                    @include mq(mb){
                        padding: 0 40px 0 20px;
                    }
                }
                a{
                    @include mq(mb){
                        right: 10px;
                    }
                }
            }
        }
    }
}
.news-catalog{
    //width: 100%;
    padding: 123px 0 100px 0;
    //border-bottom: solid 1px;
    margin: 0 -15px;
    //@include color('border', 'border-color');
    @include color('white', 'background');
    @include cf(); 
    @include mq(tab){
        padding: 77px 0 76px 0;
    }
    @include mq(mb){
        padding-bottom: 14px;
        padding: 33px 0 33px 0;
    }
    
    .btn-wrapper{
        text-align: center;
        padding: 20px 0 0 0;
        .btn-load-more {
            font-size: 20px;
            line-height: 50px;
            font-family: $grotzecon;
            color: #ffffff;
            padding: 0 40px;
            background-color: #999999;
            text-transform: uppercase;
            cursor: pointer;
            opacity: 1;
            text-transform: uppercase;
            transition: background-color 0.3s ease 0s;
            cursor: pointer;
            &:hover{
                background-color: #f6a704;
            }
        }
    }    
}
.news-catalog-list{
    width: 100%;
    box-sizing: border-box;
    @include cf();
    @include mq(tab){
        width: 100%;
        box-sizing: border-box;
        padding: 32px 60px 0 60px;
    }
    @include mq(mb){
        width: 100%;
        float: none;
        padding: 0;
    }
    .news-i{
        width: 25%;
        float: left;
        padding: 0 15px 48px 15px;
        //padding-bottom: 52px;
        box-sizing: border-box;
        @include mq(tab){
            width: 50%;
        }
        @include mq (mb){
            width: 100%;
            padding: 0 0 40px 0;
            float: none;
        }
        &.news-i-big{
            width: 50%;
            padding: 0 15px;
            @include mq(tab){
                width: auto;
                margin: 0 -60px;
                padding: 0 15px 45px 15px;
            }
            @include mq(mb){
                width: 100%;
                padding: 0 0 30px 0;
            }
            
            .news-info{
                padding: 0 0 60px 0;
                @include mq(tab){
                    padding: 0 60px 30px 60px;
                }
                @include mq(mb){
                    padding: 0 0px 0px 0px;
                }
            }
            .news-text{
                font-family: $galanosemibold;
                display: block;
                font-size: 28px;  
                line-height: 30px;
                letter-spacing: 0px;
                padding:  0 32px 17px 0;
                transition: color 0.3s ease 0s;
                @include color('grey', 'color');
                &:hover{
                    @include color('orange', 'color');
                }
                @include mq(mb){
                    font-size: 16px;
                    line-height: 20px;
                    padding: 0 0 17px 0;
                }
            }
            .news-img{
                max-height: inherit;
                @include mq(mb){
                    margin: 0 -20px;
                }
            }
        }
    }    
        
    .news-text{
        font-family: $galanosemibold;
        display: block;
        font-size: 18px;  
        line-height: 20px;
        padding: 0 0 30px 0;
        transition: color 0.3s ease 0s;
        @include color('grey', 'color');
        &:hover{
            @include color('orange', 'color');
        }
        @include mq(mb){
            font-size: 16px;
            line-height: 20px;
        }
    }
        
    .news-info{
        
        @include mq(mb){
            padding: 0;
        }
        h5{
            padding-bottom: 8px;
            font-family: $grotzecon;
            font-size: 17px;
            line-height: 21px;
            @include color('orange', 'color');
        }
        p{
            padding-bottom: 16px;
            font-family: $galanoregular;
            font-size: 14px;
            line-height: 20px;
            color: #4c5054;
            max-height: 165px;
            overflow: hidden;
        }
    }
    p{
        padding-bottom: 16px;
        font-family: $galanoregular;
        font-size: 14px;
        line-height: 20px;
        color: #4c5054;
        max-height: 49px;
        overflow: hidden;
        @include mq(mb){
            // display: none;
        }
    }
         
    .news-img{
        position: relative;
        display: block;
        opacity: 1;
        transition: opacity 0.3s ease 0s;
        max-height: 200px;

        overflow: hidden;
        @include mq(tab){
            max-height: 250px;
        }
        &:hover{
            opacity: 0.8;
        }
        img{
            display: block;
            width: 100%;
            
        }
    }
}