.post-block{
    padding: 0 0 60px 0;
    @include mq(mb){
        padding: 0;
    }
    h1{

    }
    h2{
        font-family: $grotzecon;
        font-size: 40px;
        line-height: 60px;
        text-transform: uppercase;
        text-align: center;
        padding: 0 0 30px 0;
        color: #4c5054;
        @include mq(mb){
            font-size: 26px;
            padding: 0;
        }
    }
    p{
        font-family: $galanoregular;
        font-size: 16px;
        line-height: 25px;
        padding: 0 0 22px 0;
        color: #666666;
        @include mq(mb){
            font-size: 14px;
            line-height: 20px; 
        }

    }
    .img{
        width: 100%;
        position: relative;
        @include mq(mb){
            display: none;
        }            
        img{
            display: block;
            width: 100%;
        }
    }
    .post-img_float{
        float: left;
        width: 370px;
        padding: 40px 30px 0 30px;
        margin-left: -130px;
        @include mq(tab){
            margin: 0;
            padding: 20px 20px 0 0;
        }
        @include mq(mb){
            margin: 0;
            float: none;
            width: 100%;
            padding: 20px 0;
        }
        img{
            width: 100%;
        }
    }
    .quatation{
        position: relative;  
        padding: 40px 0 0px 0;
        text-align: center;
        @include mq(mb){
            padding: 50px 0 30px 0;
        }
        p{
            font-family: $grotzecon;
            font-size: 36px;
            line-height: 40px;
            padding: 0px 20px 30px 20px;
            text-transform: uppercase;
            color: #f5a71c;
            &::before{
                content: "";
                display: block;
                width: 40px;
                height: 15px;
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -20px;
                background: url('../images/icons/quote.png')no-repeat;
                
            }
            @include mq(mb){
                font-size: 21px;
                line-height: 20px;
                padding: 0 0 30px 0;
            }
        }
        strong{
            display: block;
            font-family: $grotzecon;
            font-size: 20px;
            line-height: 25px;
            font-weight: normal;
            text-transform: uppercase;
            color: #4c5054;
            @include mq(mb){
                font-size: 18px;
                line-height: 16px;
                padding: 0 20%;
            }
        }
        &.small{
            float: left;
            width: 370px;
            padding: 40px 30px;
            margin-left: -130px;
            @include mq(tab){
                margin: 0;
                padding: 40px 30px 40px 0;
            }
            @include mq(mb){
                width: 100%;
                float: none;
                box-sizing: border-box;
                margin: 0;
                padding: 40px 0 20px 0;
            }
            i{
                @include mq(mb){
                    top: 10px;
                }
            }
            p{
                font-family: $grotzecon; 
                font-size: 26px;
                line-height: 24px;
                padding: 0px 20px 20px 20px;
                text-transform: uppercase;
                color: #f5a71c;
                @include mq(tab){
                    padding: 0 0 20px 0;
                }
                @include mq(mb){
                    font-size: 21px;
                    line-height: 20px;
                    padding: 0 0 20px 0;
                }
            }
            span{
                font-size: 18px;
                line-height: 16px;
            }
        }
    }
}
.post-block.quote-block {
    padding: 0;
    margin-top: -60px;
}