
    .project-updates_list{
        // width: 80%;
        // margin: 0 auto;
        border-top: 1px solid #999999;
        padding-top: 50px;
        @include cf();
        
        .title{
            color: #f6a704; 
            font-family: $grotzecon;
            font-size: 40px;
            text-transform: uppercase;
            text-align: center;
            padding-bottom: 60px;
            display: block;
        }
        .project-updates_list_item{
            width: 100%;
            box-sizing: border-box;
            float: left;
            @include cf();
            padding:  0 0 50px 0;
            @include mq(mb){
                padding-bottom: 50px;
            }
            .img{
                float: left;
                width: auto;
                position: relative;
                margin: 0 17px 0 0;
                background: #f0f0f0;
                max-width: 175px;
                max-height: 130px;
                @include mq(mb){
                    display: inline-block;
                    max-width: 125px;
                    max-height: 95px;
                }
                img{
                    width: 100%;
                    display: block;
                    overflow: auto;
                    margin: auto;
                    &.img_frame{
                        display: none;
                        @include mq(mb){
                            display: none;
                        }
                    }
                    @include mq(mb){
                        width: 100%;
                    }
                }
            }
            h5{
                font-family: $grotzecon;
                font-size: 17px;
                line-height: 17px;
                text-transform: uppercase;
                padding: 0 0 15px 0;
                color: #f6a704;
                
            }
            span{
                font-family: $grotzecon;
                font-size: 18px;
                line-height: 20px;
                color: #666666;
            }
            p{
                font-family: $galanoregular;
                font-size: 14px;
                line-height: 20px;
                color: #666666;
                max-height: 70px;
            }
        }
    }