.project-partners_list{
    // width: 80%;
    // margin: 0 auto;
    border-top: 1px solid #999999;
    padding-top: 50px;
    @include cf();
    h2{
        color: #f6a704;
    }
    .project-partners_list_item{
        width: 100%;
        box-sizing: border-box;
        float: left;
        @include cf();
        padding:  0 0 30px 0;
        @include mq(mb){
            padding-bottom: 50px;
        }
        .img{
            float: left;
            width: auto;
            position: relative;
            margin: 0 17px 0 0;
            background: #f0f0f0;
            min-width: 175px;
            min-height: 130px;
            @include mq(mb){
                display: inline-block;
                min-width: 125px;
                min-height: 95px;
            }
            img{
                width: auto;
                display: block;
                overflow: auto;
                margin: auto;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                &.img_frame{
                    display: none;
                    @include mq(mb){
                        display: none;
                    }
                }
                @include mq(mb){
                    width: 50%;
                }
            }
        }
        .img_frame{
            display: none;
        }
        .name{
            font-family: $galanosemibold;
            font-size: 18px;
            line-height: 20px;
            color: #4c5054;
            padding: 0 0 10px 0;
        }
        P{
            font-family: $galanoregular;
            font-size: 14px;
            line-height: 20px;
            color: #666666;
            padding: 0 0 10px 192px;
            @include mq(mb){
                display: inline-block;
                
                line-height: 20px;
                padding: 25px 0 10px 0px;
            }
        }
        a{
            display: block;
            font-family: $galanosemibold;
            font-size: 14px;
            line-height: 20px;
            padding: 0 0 0 192px;
            color: #f6a704;
            @include mq(mb){
                padding: 0;
            }
            // padding: 0 0 10px 0;
        }
    }
}