// @font-face {
// 	font-family: "svgFont";
// 	src: url('../fonts/svgFont.eot');
// 	src: url('../fonts/svgFont.eot?#iefix') format('eot'),
// 		url('../fonts/svgFont.woff2') format('woff2'),
// 		url('../fonts/svgFont.woff') format('woff'),
// 		url('../fonts/svgFont.ttf') format('truetype');
// 		url('../fonts/svgFont.svg#svgFont') format('svg');
// }

.icon:before {
	font-family: "svgFont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-Facebook:before {
	content: "\E001";
	font-size: 0;
}
