.icon {
	display: inline-block;
}
// .icon-logo-text{
// 	width: 91px;
// 	height: 79px;
// 	background-image: url("../images/general/onaway_logo.svg");
// }
// .icon-logo{
// 	width: 53px;
// 	height: 54px;
// 	background-image: url("../images/icons/logo.png");
// }
// .icon-logo-mobile{
// 	width: 36px;
// 	height: 37px;
// 	background: url('../images/icons/logo-mob.png') no-repeat;
// }
.icon-facebook{
	width: 8px;
	height: 16px;
	path{
		fill: #4c5054;
		transition: fill 0.3s ease 0s;
	}
	&:hover{
		path{
			fill: #f6a704;
		}
	}
}

// .icon-quots{
// 	width: 40px; 
// 	height: 15px;
// 	background: url('../images/icons/quote.png')no-repeat;
// }
.icon-slider-prev{
	width: 24px !important;
	height: 70px !important;
	background: url('../images/icons/slider-prev.png') no-repeat;	
}
.icon-slider-next{
	width: 24px !important;
	height: 70px !important;
	background: url('../images/icons/slider-next.png')	
}

.icon-close-nav{
	width: 18px;
	height: 17px;
	background: url('../images/icons/icon-close-nav.png') no-repeat;
}
.icon-burger{
	width: 25px;
	height: 15px;
	background: url('../images/icons/icon-burger.png') no-repeat; 
}
.icon-twitter{
	path{
		fill: #4c5054;
		transition: fill 0.3s ease 0s;
	}
	&:hover{
		path{
			fill: #f6a704;
		}
	}
}
.icon-filter-arrow{
	width: 12px;
	height: 9px;
	background: url('../images/icons/filter-arrow-up.png') no-repeat;
}

.icon-facebook-likes{
	width: 77px;
	height: 20px;
	background: url('../images/icons/facebook.png')no-repeat;	
}

.icon-twitter-likes{
	width: 78px;
	height: 20px;
	background: url('../images/icons/tweet.png')no-repeat;	
}