// $break-320: 359px;
// $break-small: 767px;
// $break-large: 768px;
// $break-middle: 1024px;
// $break-large-right: 1024px;
// $break-large-max: 1660px;
// $break-large-max: 1900px;
// $desk-small: 1350px;

$small: 320px;
$medium: 640px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;

@mixin mq($media) {
  @if $media == deskbig {
    @media only screen and (max-width: $xxlarge) { @content; }
  }
  @if $media == deskmid {
    @media only screen and (min-width: $xlarge) and (max-width: $xxlarge - 1) { @content; }
  }
  @if $media == desksmall {
    @media only screen and (min-width: $large + 1) and (max-width: $xlarge - 1) { @content; }
  }
  @if $media == tab {
    @media only screen and (min-width: $medium) and (max-width: $large) { @content; }
  }
  @if $media == mb {
    @media only screen and (max-width: $medium) { @content; }
  }
  // @if $media == mb-ld {
  //   @media only screen and (max-width: $break-small) and (orientation:landscape) { @content; }
  // }
  // @if $media == tab {
  //   @media only screen and (min-width: $break-large) and (max-width: $break-large-right - 1) { @content; }
  // }
  // @if $media == tab-new {
  //     @media only screen and (min-width: $break-large) and (max-width: $break-middle) { @content; }
  // }
  // @if $media == tab-ld {
  //   @media only screen and (min-width: $break-large) and (max-width: $break-large-right - 1) and (orientation:landscape) { @content; }
  // }
  // @if $media == desktop {
  //     @media only screen and (min-width: $break-middle) { @content; }
  // }
  // @if $media == md {
  //   @media only screen and (min-width: $break-large-right) and (max-width: $break-large-max) { @content; }
  // }
  // @else if $media == lg {
  //   @media only screen and (min-width: $break-large-right) and (max-width: $break-large-max) { @content; }
  // }
  // @else if $media == xl {
  //   @media only screen and (min-width: $break-large-max) { @content; }
  // }

}
@mixin retina{
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    @content;
  }
}



@mixin fs($size) {
  @if map_has_key($fontSize, $size) {
    $size: map_get($fontSize, $size);
    font-size: $size;
  }
}
@mixin lh($size) {
  @if map_has_key($lineHeight, $size) {
    $size: map_get($lineHeight, $size);
    line-height: $size;
  }
}
@mixin inline-block(){
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

@mixin trans3d($x, $y){
  transform: translate3d($x, $y, 0);
}
@mixin rotate($deg){
  transform: rotate($deg);
}

@mixin color($color, $type) {
  @if map_has_key($colors, $color) {
    $color: map_get($colors, $color);
    #{$type}:$color;
  }
}
@mixin spacings($size, $type) {
  @if map_has_key($spacings, $size) {
    $size: map_get($spacings, $size);
    #{$type}:$size;
  }
}

@mixin cf(){
  & {
    *zoom: 1;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin cf-off(){
  & {
    *zoom: normal;
  }
  &:before,
  &:after {
    display: none;
  }
}

@mixin list-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


@mixin input-placeholder( $color, $opacity: ".5" ) {
  @if map_has_key($colors, $color) {
    $color: map_get($colors, $color);
    &:-moz-placeholder {
      color: $color;
      opacity: $opacity;
    }
    &::-moz-placeholder {
      color: $color;
      opacity: $opacity;
    }
    &:-ms-input-placeholder {
      color: $color;
      opacity: $opacity;
    }
    &::-ms-input-placeholder {
      color: $color;
      opacity: $opacity;
    }
    &::-webkit-input-placeholder {
      color: $color;
      opacity: $opacity;
    }
    &::placeholder {
      color: $color;
      opacity: $opacity;
    }
  }
}
