<div class="main-section js-main-section">
    <div class="main-bg">
        <img src="./source/images/content/home-bg.jpg" alt="">
    </div>
    
    <div class="main-section-title js-main-title">
        <i class="icon white-line js-main-title-line"></i>
        <h1>ДАЖЕ ПЛАНИРОВАНИЕ ОТДЫХА В ЖЕНЕВЕ —<br> УЖЕ ОТДЫХ</h1>
    </div>
    <div class="main-section-subtitle js-subtitle">
        <p>Легко. Быстро. Интуитивно.</p>
    </div>
    <div class="main-btn">
        <a href="#" class="js-start-btn">Пройти тест</a>
    </div>
</div>   