<div class="article-wrapper">
    <div class="article-content">
        <div class="article-title">
            <span>news</span>
            <h2>Loggers removed from uncontacted Indians’ land in Peru</h2>
            <p>23 May 2016</p>
        </div>
        <div class="article-content-wrap">
            <div class="article-content-img">
                <img src="../source/images/content/article-img.png">
                <img src="../source/images/general/img-big-frame.png" class="frame-image">
            </div>
            <div class="article-content-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus nibh, ornare sit amet congue vel, condimentum vel dolor. Pellentesque non mi non orci ullamcorper cursus. Aliquam feugiat volutpat sem ac fermentum. Pellentesque velit nisi, mattis consequat sem mattis, aliquet lacinia est. Sed interdum libero sit amet diam sodales, nec maximus ex hendrerit. Nulla eleifend tincidunt nibh ut gravida. Fusce auctor congue elit, ut sollicitudin mauris. <a href="#">Ut libero tellus</a>, ultricies sit amet blandit vitae, gravida eu metus. Nulla aliquam aliquam massa nec suscipit. Fusce lobortis, massa in lobortis molestie, nunc neque consequat ipsum, sagittis laoreet ante ante eu enim. Praesent auctor lacinia augue vitae porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisl purus, rhoncus nec quam id, fringilla porta orci. Nulla rutrum interdum lorem sit amet lobortis. Nam viverra sollicitudin porttitor. Quisque volutpat nibh sit amet tortor feugiat bibendum.</p>
                <p>Curabitur sit amet lorem mattis, ultrices neque sed, euismod quam. Nunc enim purus, posuere sed sapien id, tincidunt hendrerit quam. Curabitur quis dignissim purus. Morbi ultricies felis eget hendrerit tincidunt. Nam sagittis, sapien in porta pharetra, felis ipsum egestas ipsum, ut fermentum nibh ipsum quis risus. Fusce tempor convallis ligula, eu efficitur nulla luctus a. Nam tellus tellus, egestas vel porta a, laoreet id magna.</p>
                <p>Donec egestas libero eu bibendum commodo. Cras posuere posuere quam, nec laoreet lorem rutrum et. Duis ut quam justo. Mauris faucibus et mauris sit amet tristique. Donec lacinia sem ut enim euismod tempor. Praesent placerat auctor nulla, ac dapibus libero sagittis a. Nunc accumsan dolor id mauris pellentesque, sit amet pretium diam gravida. Quisque tempor posuere pellentesque.</p>
                <p>Proin placerat nibh ut faucibus sodales. Proin volutpat pulvinar lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam viverra egestas vestibulum. Donec luctus pharetra tellus vel semper. Praesent et feugiat turpis, ornare efficitur nisi. Fusce at aliquet dui. Etiam tempor est quis leo vulputate, sed suscipit neque pellentesque. Donec a tempus elit. Ut sed <a href="#">pellentesque neque</a>. Pellentesque sapien mi, ultrices mattis est vitae, iaculis dignissim tortor. Cras fermentum laoreet orci consectetur molestie. Praesent pharetra molestie dolor eget gravida. Cras congue augue blandit pretium condimentum. Suspendisse iaculis mi ac urna facilisis, sed feugiat velit aliquam.</p>
            </div>
            <div class="article-content-likes">
                <p>share this story</p>
                <link rel="me" href="https://twitter.com/twitterdev">
                <a class="twitter-share-button"
                    href="https://twitter.com/share"
                    data-size="small"
                    data-text="custom share text"
                    data-url="https://dev.twitter.com/web/tweet-button"
                    data-hashtags="example,demo"
                    data-via="twitterdev"
                    data-related="twitterapi,twitter">
                    Tweet
                </a>
                
                <div class="fb-share-button" data-href="http://onaway.demo.inspired-interactive.com/article.html" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fonaway.demo.inspired-interactive.com%2Farticle.html&amp;src=sdkpreparse">Поделиться</a></div>
            </div>
        </div>
    </div>
</div>
<div class="article-banner">
    <div class="article-banner-content">
        <div class="article-banner-content-left">
            <a href="#" class="img">
                <img src="../source/images/content/article-banner.png">
                <img src="../source/images/general/img-big-frame.png" class="frame-image">
            </a>
            <h1 class="article-banner-title">related</h1>
        </div>
        <div class="article-banner-content-right">
            <a href="#" class="title">Known as the “People from the place of the wild pigs”</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet augue orci. Cras justo quam, rhoncus id lacus sit amet, ultricies scelerisque sapien. Duis ac metus </p>
            <a href="#">Learn more</a>
        </div>
    </div>
</div>