
    <div class="cause-content">
        <div class="page-subtitle">
        <h4>Acaté brings much needed support to the struggling indigenous people of the Peruvian Amazon. Increasingly pressured and threatened by extraction industries such as petroleum, timber, and biopiracy, we founded our organization to provide regenerative alternatives to these ecologically and socially damaging industries.</h4> 
    </div>
    <div class="post-block post-block-cause ">
        <h2>section title</h2>
        <p>Working directly with the Matsés people, one of the largest indigenous populations in the Peruvian Amazon rainforest, we are implementing strategic programs that provide much needed revenue without destroying their land and chosen way of life. By helping the Matsés, and other indigenous peoples of the Amazon, to maintain a more sustainable and harmonious way of life, both their culture and the ecology of their territory can be protected and nurtured.
            By helping the Matsés, and other indigenous peoples of the Amazon, to maintain a more sustainable and harmonious way of life, both their culture and the ecology of their territory can be protected and nurtured.</p>
        <div class="post-img_float">
            <img src="../source/images/content/left-trees.png">
        </div>
        <p>By helping the Matsés, and other indigenous peoples of the Amazon, to maintain a more sustainable and harmonious way of life, both their culture and the ecology of their territory can be protected and nurtured. y of life, both their culture and the ecology of their territory can be protected and nurtured. The Amazon is the greatest rainforest on the Earth. It is a land of superlatives, where greatest exaggeration falls short of eclipsing the reality of its grandeur and significance to human life. As vast as it is diverse, the Amazon is a repository for one in every ten species on the planet and one fifth of the world’s fresh water that flows to the ocean. A few hectares of forest in certain regions of Peru may contain as many species of trees as found the world’s fresh water that flows to the ocean. A few hectares of forest in certain regions of Peru may contain as many species of trees as found within the entire continental United States. The total biomass of carbon in the Amazon Basin is estimated at 86 billion metric tons. To place it in perspective, the annual CO2 emissions from the United States represent less than a tenth of a percent of this figure. The Amazon, the largest rainforest in the world, is the lungs of our planet.</p>     
    </div>
    
    <div class="post-block">
        <h2>section title</h2>
        <p>The Matsés, or Jaguar People, inhabit some of most remote rainforests in the world. Divided across the vast expanse of the Amazon and the countries of Peru and Brazil. Across the river into Brazil, part of their territory lies within the Valle do Javari Indigenous Reserve, which contains the largest number of uncontacted groups remaining in the world. The Matsés inhabit the heart of the Amazon Rainforest, an area of staggering natural beauty and almost inconceivable biodiversity, but a land deeply troubled and beset with threats from narco-traffickers, multinational petroleum companies, loggers and wildcat gold miners. It is one of the last frontiers. Although it is taking place with different actors, the indigenous situation in the Amazon evokes hauntingly tragic parallels to the United States’ displacement of Native Americans a little over a century ago.</p>
        <p>Tribal peoples understand and value the rainforest because they are dependent upon it. This relationship extends beyond a utilitarian reliance; there is spiritual link to the forest, a sense of interconnectivity, difficult to comprehend through the compartmentalized Western mindset but one no less real. It is not a coincidence that the remaining tracts of pristine rainforest in the Neotropics overlap with areas of indigenous habitation.</p>
    </div>
    
    <div class="post-block">
        <h2>section title</h2>
        <p>Working directly with the Matsés people, one of the largest indigenous populations in the Peruvian Amazon rainforest, we are implementing strategic programs that provide much needed revenue without destroying their land and chosen way of life. By helping the Matsés, and other indigenous peoples of the Amazon, to maintain a more sustainable and harmonious way of life, both their culture and the ecology of their territory can be protected and nurtured.</p>
        <p>The Amazon is the greatest rainforest on the Earth. It is a land of superlatives, where greatest exaggeration falls short of eclipsing the reality of its grandeur and significance to human life. As vast as it is diverse, the Amazon is a repository for one in every ten species on the planet and one fifth of the world’s fresh water that flows to the ocean.  A few hectares of forest in certain regions of Peru may contain as many species of trees as found within the entire continental United States. The total biomass of carbon in the Amazon Basin is estimated at 86 billion metric tons. To place it in perspective, the annual CO2 emissions from the United States represent less than a tenth of a percent of this figure. The Amazon, the largest rainforest in the world, is the lungs of our planet.</p>
    </div>
    
    <div class="post-block">
        <p>Working directly with the Matsés people, one of the largest indigenous populations in the Peruvian Amazon rainforest, we are implementing strategic programs that provide much needed revenue without destroying their land and chosen way of life. By helping the Matsés, and other indigenous peoples of the Amazon, to maintain a more sustainable and harmonious way of life, both their culture and the ecology of their territory can be protected and nurtured.</p>
        <p>The Amazon is the greatest rainforest on the Earth. It is a land of superlatives, where greatest exaggeration falls short of eclipsing the reality of its grandeur and significance to human life. As vast as it is diverse, the Amazon is a repository for one in every ten species on the planet and one fifth of the world’s fresh water that flows to the ocean.  A few hectares of forest in certain regions of Peru may contain as many species of trees as found within the entire continental United States. The total biomass of carbon in the Amazon Basin is estimated at 86 billion metric tons. To place it in perspective, the annual CO2 emissions from the United States represent less than a tenth of a percent of this figure. The Amazon, the largest rainforest in the world, is the lungs of our planet.</p>
        <div class="quatation">
            
            <p>
                We are in reality laying the foundation stone for civilising a people hitherto living in a perfectly barbarous state, replete with treachery.
            </p>
            <strong>
                tyler, british colonial official
            </strong>
        </div> 
    </div>

    

    <div class="post-block">
        <p>It is a land of superlatives, where greatest exaggeration falls short of eclipsing the reality of its grandeur and significance to human life. As vast as it is diverse, the Amazon is a repository for one in every ten species on the planet and one fifth of the world’s fresh water that flows to the ocean. Other than the indigenous peoples of the Amazon, to maintain a more sustainable and outer harmonious way of life, both their culture and the ecology of their territory can be protected and nurtured.</p>
        <p>The Amazon is the greatest rainforest on the Earth. It is a land of superlatives, where greatest exaggeration falls short of eclipsing the reality of its grandeur and significance to human life. As vast as it is diverse, the Amazon is a repository for one in every ten species on the planet and one fifth of the world’s fresh water that flows to the ocean.  A few hectares of forest in certain regions of Peru may contain as many species of trees as found within the entire continental United States. The total biomass of carbon in the Amazon Basin is estimated at 86 billion metric tons. To place it in perspective, the annual CO2 emissions from the United States represent less than a tenth of a percent of this figure. The Amazon, the largest rainforest in the world, is the lungs of our planet.</p>
   </div>
    
    

</div>   