<div class="banner-light">
    <div class="banner-light-item">
        <div class="title-layout-little">
            <h2>{{first.title}}</h2>
        </div>
        <div class="text">
            <p>{{first.text}}</p>  
            <a href="#">{{first.link}}</a>
            {{#if first.secondlink}}
                <a href="#">{{first.secondlink}}</a> 
            {{/if}}
        </div>   
    </div>
    {{#if second}}
        <div class="banner-light-item">
            <div class="title-layout-little">
                <h2>{{second.title}}</h2>
            </div>
            <div class="text">
                <p>{{second.text}}</p>  
                <a href="#">{{second.link}}</a>
            </div>   
        </div>
    {{/if}}
    
</div>
