<div class="our-vision">
    <div class="vision-left">
        <div class="vision-image">
            <img src="../source/images/content/vision.jpg" class="vision-img">
        </div>
    </div>
    <div class="vision-right">
        <div class="title-layout"> 
            <h2>our vision</h2>
        </div> 
        <div class="vision-text">
            <p>Lorem ipsum dolor sit amet, consectetu adipiscing elit. 
                Nam porttitor facilisis nunc ac luctus. Sed nec sagittis enim. 
                Donec ultrices at purus eu bibendum. 
                Quisque a eleifend ipsum, eu dignissim risus.
            </p>
            <a href="#">about onaway</a>
        </div>
    </div>

</div>