.banner-grey{
    width: 95%;
    margin: 0 auto;
    background-repeat: no-repeat;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    background-image: url('../images/general/grey-banner-bg.png');
    background-size: 100% 100%;
    @include cf();
    @include mq(desksmall){
        width: 100%;
        margin: 0;
        padding:  0px;
    }
    @include mq(tab){
        padding: 50px 20px;
    }
    @include mq(mb){
        background-image: url('../images/general/banner-grey-mob-bg.png');
        padding: 0 10px ;
        margin: 0 auto 20px auto;
    }
    // .banner-grey-bg{
    //     position: absolute;
    //     top:0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     z-index: -1;
    //     img{
    //         display: block;
    //         width: 100%;
    //         height: 100%;
    //     }
    // }
    .b-g-content{
        display: inline-block;
        width: 500px;
        box-sizing: border-box;
        padding: 0 110px 0 0;
        @include mq(desksmall){
            width: 39%;
            padding: 50px 0;
            box-sizing: border-box;
        } 
        @include mq(tab){
            width: 49%;
            padding: 0 30px 0 0;
        }
        @include mq(mb){
            width: 100%;
            padding: 20px 10px;
        }
        h2{
            @include color('white', 'color');
        }
        
        .b-g-text{
            box-sizing: border-box;
            padding-top: 42px;
            padding-bottom: 20px;
            padding-left: 20px;
            @include mq(tab){
                padding: 42px 0 20px 0;
            }
            @include mq(mb){
                padding: 5px 0 20px 0;
            }
            p{
                font-size: 14px;
                line-height: 20px;
                font-family: $galanoregular;
                @include color('white', 'color');  
            }
        }
        a{
            font-size: 20px;
            font-family: $grotzecon;
            text-transform: uppercase;
            opacity: 1;
            transition: opacity 0.3s ease 0s;
            @include color('orange', 'color');
            &:hover{
                opacity: 0.8;
            }
        }
        
        &:last-child{
            padding: 32px 0 80px 117px; 
            @include mq(tab){
                padding: 0 0 0 30px;
            }
            @include mq(mb){
                width: 100%;
                padding: 0px 0 44px 0;
            }
        }
    }
       
}

