.our-vision{
    padding: 60px 0 71px 0;
    border-bottom: solid 1px;
    @include cf();
    @include color('white', 'background');
    @include color('border', 'border-color');
    @include mq (tab){
        padding-top: 0px;
        padding-bottom: 54px;
    }
    @include mq(mb){
        position: relative;
        padding-top: 90px;
        padding-bottom: 25px
    }
    .vision-left{
        width: 41%;
        padding: 15px 0px 0px 32px;
        float: left;
        @include mq (tab){
            width: 44%;
            padding-top: 53px;
            padding-left: 12px
        }
        @include mq (mb){
            width: 100%;
            // height: 51%;
            float: none;
            padding: 0;
        }
        .vision-image{
            @include mq(mb){
                padding: 0 0 20px 0;
            }
            .vision-img{
                display: block;
                width: 100%;
                @include mq (mb){
                    width: 100%;
                    
                }
            }
        }
            
    }
    .vision-right{
        width: 50%;
        float: right;
        box-sizing: border-box;
        padding-top: 95px;
        padding-left: 115px;
        padding-right: 20px;
        @include mq(desksmall){
            padding: 95px 0 0 0;
        }
        @include mq(tab){
            padding-top: 70px;
            padding-left: 12px;
            padding-right: 0;
        }
        @include mq(mb){
            width: 100%;
            float: none;
            padding:0;
        }
        .title-layout{
            @include mq(mb){
                position: absolute;
                top: 32px;
                left: 50%;
                text-align: center;
                @include trans3d(-35%, 0);
                    h2{
                        @include mq (mb){
                            white-space: nowrap;
                        }
                    }
        }
        }
            .vision-text{
                padding-left: 113px;
                padding-top: 39px;
                @include mq(tab){
                    padding-top: 15px;
                    padding-left: 0;
                }
                @include mq(mb){
                    padding:0;
                }
                p{  
                    padding-bottom: 16px;
                    font-family: $galanoregular;
                    font-size: 14px;
                    line-height: 20px;
                    @include color('grey', 'color');
                }
                a{
                    font-size: 20px;
                    line-height: 24px;
                    font-family: $grotzecon;
                    text-transform: uppercase;
                    transition: opacity 0.3s ease 0s;
                    @include color('orange', 'color');
                    &:hover{
                        opacity: 0.8;
                    }
                    
                }
            }
    }
}





