.projects{
    padding: 79px 0 26px 0;
    @include cf();
    border-bottom: solid 1px;
    @include color('border', 'border-color');
    @include color('white', 'background');
    @include mq(tab){
        padding-top: 60px;
    }
    @include mq(mb){
        padding-top: 60px;
        padding-bottom:0px;
        padding: 30px 0 0 0;
    }
   
    .projects-left{
        width: 50%;
        float: left;
        box-sizing: border-box;
        padding: 0 120px 0 0;
        @include mq(tab){
            width: 100%;
            float: none;
            position: relative;
            padding: 0;
        }
        @include mq(mb){
            width: 100%;
            padding: 0;
            float: none;
            position: relative;
        }
       .project-text{
            padding: 38px 114px;
            font-size: 14px;
            font-family: $galanoregular;
            @include color('grey', 'color');
            @include mq(tab){
                padding: 0;
            }
            @include mq(mb){
                padding: 0;
            }
             p{
                padding-bottom: 15px;
                line-height: 20px;
                @include mq(tab){
                    display: none;
                }
                @include mq(mb){
                    display: none;
                }
            }
            a{
                font-size: 20px;
                font-family: $grotzecon;
                text-transform: uppercase;
                opacity: 1;
                transition: opacity 0.3s ease 0s;
                @include color('orange', 'color');
                &:hover{
                    opacity: 0.8;
                }
                @include mq(tab){
                    position: absolute;
                    white-space: nowrap;
                    top: 0;
                    left: 100%;
                    @include trans3d(-100%, 0);
                }
                @include mq(mb){
                    white-space: nowrap;
                    position: absolute;
                    top: 15px;
                    left: 100%;
                    @include trans3d(-100%, 0);
                }
            }
        }
    }
    .projects-right{
        width: 50%;
        float: right;
        box-sizing: border-box;
        padding-top: 8px;
        padding-left: 23px;
        @include mq(tab){
            width: 100%;
            float: none;
            padding-top: 40px;
        }
        @include mq(mb){
            width: 100%;
            float: none;
            padding-top: 10px;
            padding-left: 0;
        }
        .project{
            padding-bottom: 36px;
            @include cf();
            .project-img{
                display: block;
                float: left;
                width: 48%;
                position: relative;
                opacity: 1;
                transition: opacity 0.3s ease 0s;
                &:hover{
                    opacity: 0.8;
                }
                @include mq(mb){
                    width: 100%;
                    float: none;
                    padding: 0 0 10px 0;
                }
                img{
                    display: block;
                    width: 100%;
                }
            }
            
            .project-content{
                float: right;
                width: 50%;
                box-sizing: border-box;
                padding-left: 16px;
                @include mq(mb){
                    width: 100%;
                    float: none;
                    padding:0;
                }
                
                p{
                    padding-bottom: 8px;  
                    font-family: $galanoregular;
                    font-size: 14px;
                    line-height: 20px;
                    @include color('grey', 'color');
                }
                a{
                    font-family: $galanosemibold;
                    font-size: 14px;
                    opacity: 1;
                    transition: opacity 0.3s ease 0s;
                    @include color('orange', 'color');
                    &:hover{
                        opacity: 0.8;
                    }
                    &.project-title{
                        display: block;
                        padding-bottom: 9px;
                        font-family: $galanosemibold;
                        font-size: 18px;
                        line-height: 22px;
                        transition: color 0.3s ease 0s;
                        @include color('grey', 'color');
                        &:hover{
                            @include color('orange', 'color');
                        }
                    }
                }
            }
        }
    }
}

        
