.latest-news{
    padding: 91px 0 76px 0;
    border-bottom: solid 1px;
    @include color('border', 'border-color');
    @include color('white', 'background');
    @include cf(); 
    @include mq(tab){
        padding: 77px 0 76px 0;
    }
    @include mq(mb){
        padding-bottom: 14px;
        padding: 33px 0 33px 0;
    }
   
    .latest-news__left{
        width: 50%;
        padding: 0 100px 0 0;
        box-sizing: border-box;
        float: left;
        @include mq (tab){
            width: 100%;
            padding: 0;
            float: none;
        }
        @include mq (mb){
            width: 100%;
            padding: 0;
            padding-bottom: 0px;
            float: none;
        }
         
    }
    .latest-news__right{
        width: 50%;
        float: right;
        box-sizing: border-box;
        padding-left: 23px;
        @include cf();
        @include mq(tab){
            width: 100%;
            float: none;
            padding: 32px 0 0 0;
        }
        @include mq(mb){
            width: 100%;
            float: none;
            padding: 0;
        }
        .news-i{
            width: 50%;
            float: left;
            padding-bottom: 52px;
            box-sizing: border-box;
            padding-right: 17px;
            @include mq (mb){
                width: 100%;
                padding: 0 0 20px 0;
                float: none;
            }
            h5{
                padding-bottom: 8px;
                font-family: $grotzecon;
                text-transform: uppercase;
                font-size: 17px;
                line-height: 21px;
                @include color('orange', 'color');
            }
            .news-text{
                font-family: $galanosemibold;
                display: block;
                font-size: 18px;  
                line-height: 22px;
                padding:  0 0 21px 0;
                transition: color 0.3s ease 0s;
                @include color('grey', 'color');
                &:hover{
                    @include color('orange', 'color');
                }
                @include mq(mb){
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            .news-img{
                position: relative;
                display: block;
                opacity: 1;
                transition: opacity 0.3s ease 0s;
                &:hover{
                    opacity: 0.8;
                }
                img{
                    display: block;
                    width: 100%;
                    
                }
            }
            &:nth-child(even){
                padding-left: 17px;
                padding-right: 0;
                @include mq(mb){
                    padding: 0 0 20px 0;
                }
            }
        }
    }
}



 
