.newsletter{
    display:block;
    padding-top: 61px;
    padding-bottom: 103px; 
    text-align: center;
    @include color('white', 'background');
    @include mq(mb){
        padding: 33px 0 ;
    }
    .newsletter-text{
        padding-top: 23px;
        padding-bottom: 43px;
        p{
            
            font-size: 14px;
            font-family: $galanoregular;  
            line-height: 20px; 
            @include color('grey', 'color');
            @include mq(mb){
                padding: 0;
            }
        }
    }
    
    .thenk-message{
        display: none;
        opacity: 0;
        min-height: 65px;
        a{
            font-size: 40px;
            font-family: $grotzecon;
            text-transform: uppercase;
            opacity: 1;
            transition: opacity 0.3s ease 0s;
            @include color('orange', 'color');
            &:hover{
                opacity: 0.8;
            } 
        }
    }
}
.newsletter-wrapp{
    width: 500px;
    margin: 0 auto;
    @include mq(mb){
        width: 100%;
    }
    .title-layout-little{
        h2{
            @include mq(mb){
                font-size: 28px;
                line-height: 20px;
            }
        }
    }
    
}
.letter-input{
    position: relative;
    opacity: 1;
    transition: opacity 0.3s ease 0s;
    a{
        display: block;
        position: absolute;
        top: 50%;
        right: 25px;
        font-family: $grotzecon;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0;
        text-transform: uppercase;
        opacity: 1;
        transition: opacity 0.3s ease 0s;
        @include color('orange', 'color');
        @include trans3d(0, -50%);
        &:hover{
            opacity: 0.8;
        }
    }
    input{
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 0 80px 0 20px;
        height: 65px;
        line-height: 65px;
        font-size: 18px;
        font-family: $galanoregular;
        outline: none;
        border: 1px solid #cccccc;
        @include color('black', 'color');
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            @include color('grey', 'color');
            color: #cccccc;
            line-height: 65px;
            font-size: 18px;
            font-family: $galanoregular;
          }
        &::-moz-placeholder { /* Firefox 19+ */
            
            color: #cccccc;
            line-height: 65px;
            font-size: 18px;
            font-family: $galanoregular;
          }
        &:-ms-input-placeholder { /* IE 10+ */
            color: #cccccc;
            line-height: 65px;
            font-size: 18px;
            font-family: $galanoregular;
          }
        &:-moz-placeholder { /* Firefox 18- */
            color: #cccccc;
            line-height: 65px;
            font-size: 18px;
            font-family: $galanoregular;
          }
    }
}
