
    
<nav class="filters-panell">
    <div class="nav-about-list js-about-filter">
        <ul>
            <li><a href="/about.html">ABOUT</a></li>
            <li><a href="/about_trustees.html">TRUSTEES</a></li>
            <li><a href="/about_library.html" class="active">LIBRARY</a></li>
            <li><a href="/about_partnerships.html">PARTNERSHIPS</a></li>    
        </ul>
        <i class="icon icon-filter-arrow"></i>
    </div>    
</nav>


     <div class="about-content">
         <div class="page-subtitle">
            <h4>
                Onaway’s vision is of a world where Native Peoples are able to maintain their traditional lifestyles and preserve their knowledge, skills and traditions for a sustainable future. Onaway wants the world to be a sustainable home where they culture and diversity are respected for what they can teach us and future for the generations. Onaway seeks wider recognition of the fact that Indigenous peoples may hold the key to a more sustainable future for the whole planet.
            </h4> 
        </div>
        <div class="post-block">
            <h2>our catalogue</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan justo vitae tortor condimentum, sed ornare risus sagittis. Mauris tempus semper efficitur. Vivamus lobortis nibh non gravida bibendum. Suspendisse id leo faucibus, bibendum neque commodo, luctus lectus. Donec in quam egestas, eleifend ante id, egestas est. Some of our featured books:</p>

            <div class="libarry-catalog">
                <div class="libarry-catalog_item">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <h3 class="name">Indian Dances of North America: Their Importance to Indian Life</h3>
                    <p>Reginald Laubin,  1977</p>
                    <a href="#">View book<i class="icon icon-coner-top_right"></i></a>
                </div>
                <div class="libarry-catalog_item">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <h3 class="name">Indian Dances of North America: Their Importance to Indian Life</h3>
                    <p>Reginald Laubin,  1977</p>
                    <a href="#">View book<i class="icon icon-coner-top_right"></i></a>
                </div>
                 <div class="libarry-catalog_item">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <h3 class="name">Indian Dances of North America: Their Importance to Indian Life</h3>
                    <p>Reginald Laubin,  1977</p>
                    <a href="#">View book<i class="icon icon-coner-top_right"></i></a>
                </div>
                <div class="libarry-catalog_item">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <h3 class="name">Indian Dances of North America: Their Importance to Indian Life</h3>
                    <p>Reginald Laubin,  1977</p>
                    <a href="#">View book<i class="icon icon-coner-top_right"></i></a>
                </div>
                 <div class="libarry-catalog_item">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <h3 class="name">Indian Dances of North America: Their Importance to Indian Life</h3>
                    <p>Reginald Laubin,  1977</p>
                    <a href="#">View book<i class="icon icon-coner-top_right"></i></a>
                </div>
                <div class="libarry-catalog_item">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <h3 class="name">Indian Dances of North America: Their Importance to Indian Life</h3>
                    <p>Reginald Laubin,  1977</p>
                    <a href="#">View book<i class="icon icon-coner-top_right"></i></a>
                </div>
                 <div class="libarry-catalog_item">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <h3 class="name">Indian Dances of North America: Their Importance to Indian Life</h3>
                    <p>Reginald Laubin,  1977</p>
                    <a href="#">View book<i class="icon icon-coner-top_right"></i></a>
                </div>
                <div class="libarry-catalog_item">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <h3 class="name">Indian Dances of North America: Their Importance to Indian Life</h3>
                    <p>Reginald Laubin,  1977</p>
                    <a href="#">View book<i class="icon icon-coner-top_right"></i></a>
                </div>
            </div>
        </div>
     </div>

    {{!-- <div class="common-wrapping library-content">
        <p class="text-style">Onaway’s vision is of a world where Native Peoples are able to maintain their traditional lifestyles and preserve their knowledge, skills and traditions for a sustainable future. Onaway wants the world to be a sustainable home where they culture and diversity are respected for what they can teach us and future for the generations. Onaway seeks wider recognition of the fact that Indigenous peoples may hold the key to a more sustainable future for the whole planet.
        </p>
        <h2>our catalogue</h2>
        <div class="text-wrapper">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan justo vitae tortor condimentum, sed ornare risus sagittis. Mauris tempus semper efficitur. Vivamus lobortis nibh non gravida bibendum. Suspendisse id leo faucibus, bibendum neque commodo, luctus lectus. Donec in quam egestas, eleifend ante id, egestas est. Some of our featured books:
                </p>
        </div>    
            <div class="posts-list">
                <div class="post-item">
                    <div class="post-item__photo">
                        
                    </div>
                    <div class="post-item__content">
                        <div class="post-item__content__name">
                            Indian Dances of North America: Their Importance to Indian Life
                        </div>
                        <div class="post-item__content__author">
                            Reginald Laubin,  1977
                        </div>
                        <div class="post-item__content__more">
                            <a href="">View book</a>
                        </div>
                    </div>
                </div>
                <div class="post-item">
                    <div class="post-item__photo">
                        
                    </div>
                    <div class="post-item__content">
                        <div class="post-item__content__name">
                            The Constitution of the Five Nations or The Iroquois Book of the Great Law
                        </div>
                        <div class="post-item__content__author">
                            Arthur Parker,  1916
                        </div>
                        <div class="post-item__content__more">
                            <a href="">View book</a>
                        </div>
                    </div>
                </div>
                <div class="post-item">
                    <div class="post-item__photo">
                        
                    </div>
                    <div class="post-item__content">
                        <div class="post-item__content__name">
                            A Popular History of the United States of America: From the Discovery
                        </div>
                        <div class="post-item__content__author">
                            Mary Howitt,  1859
                        </div>
                        <div class="post-item__content__more">
                            <a href="">View book</a>
                        </div>
                    </div>
                </div>
                <div class="post-item">
                    <div class="post-item__photo">
                        
                    </div>
                    <div class="post-item__content">
                        <div class="post-item__content__name">
                            Whose Home is the Wilderness: Some Studies of Wild Animal Life
                        </div>
                        <div class="post-item__content__author">
                            William Joseph Long,  1907
                        </div>
                        <div class="post-item__content__more">
                            <a href="">View book</a>
                        </div>
                    </div>
                </div>
                <div class="post-item">
                    <div class="post-item__photo">
                        
                    </div>
                    <div class="post-item__content">
                        <div class="post-item__content__name">
                            A Popular History of the United States of America: From the Discovery
                        </div>
                        <div class="post-item__content__author">
                            Mary Howitt,  1859
                        </div>
                        <div class="post-item__content__more">
                            <a href="">View book</a>
                        </div>
                    </div>
                </div>
                <div class="post-item">
                    <div class="post-item__photo">
                        
                    </div>
                    <div class="post-item__content">
                        <div class="post-item__content__name">
                            Whose Home is the Wilderness: Some Studies of Wild Animal Life
                        </div>
                        <div class="post-item__content__author">
                            William Joseph Long,  1907
                        </div>
                        <div class="post-item__content__more">
                            <a href="">View book</a>
                        </div>
                    </div>
                </div>
                <div class="post-item">
                    <div class="post-item__photo">
                        
                    </div>
                    <div class="post-item__content">
                        <div class="post-item__content__name">
                            A Popular History of the United States of America: From the Discovery
                        </div>
                        <div class="post-item__content__author">
                            Mary Howitt,  1859
                        </div>
                        <div class="post-item__content__more">
                            <a href="">View book</a>
                        </div>
                    </div>
                </div>
                <div class="post-item">
                    <div class="post-item__photo">
                        
                    </div>
                    <div class="post-item__content">
                        <div class="post-item__content__name">
                            Whose Home is the Wilderness: Some Studies of Wild Animal Life
                        </div>
                        <div class="post-item__content__author">
                            William Joseph Long,  1907
                        </div>
                        <div class="post-item__content__more">
                            <a href="">View book</a>
                        </div>
                    </div>
                </div>
            </div>
    </div> --}}

