<div class="news-web-catalog">
    <h2>news around the web</h2>
    <div class="news-web-catalog_list">
        <div class="news-web-catalog_item">
            <h3 class="name">Park guard shoots child in infamous “shoot-to-kill” national park</h3>
            <p> The Matsés people of the Amazon are master farmers. Worldwide, inestimable indigenous agricultural knowledge has been lost in the...
                
            </p>
            <a href="/article.html">Via Survivial International<i class="icon icon-coner-top_right"></i></a>
        </div> 
        <div class="news-web-catalog_item">
            <h3 class="name">Tiger Day: Campaigners demand a conservation model that respects tigers and tribal people </h3>
            <p> As the Rio Olympics kick off, Brazil has blocked the construction of a controversial dam in the Amazon rainforest...</p>
            <a href="/article.html">Via IPSCT<i class="icon icon-coner-top_right"></i></a>
        </div> 
        <div class="news-web-catalog_item">
            <h3 class="name">Indian government makes dramatic U-turn after outcry over forest rights</h3>
            <p> Crash, shooting, arrest and beatings all raise questions over use of militarized tactics against Kalahari Bushmen arrest and beatings all... </p>
            <a href="/article.html">Via Concern Worldwide<i class="icon icon-coner-top_right"></i></a>
        </div> 
        <div class="news-web-catalog_item">
            <h3 class="name">UN Indigenous Peoples’ Day: Uncontacted Amazon tribe faces annihilation</h3>
            <p> Call for uncontacted tribes' right to determine their own futures to be protected for global Indigenous Peoples' Day...  
            </p>
            <a href="/article.html">Via IWGIA.org<i class="icon icon-coner-top_right"></i></a>
        </div> 
        <div class="news-web-catalog_item">
            <h3 class="name">Amazon tribe blockade railroad in protest against Brazilian mining giant</h3>
            <p>Crash, shooting, arrest and beatings all raise questions over use of militarized tactics against Kalahari Bushmen use of militarized  
            </p>
            <a href="/article.html">Via BBC News<i class="icon icon-coner-top_right"></i></a>
        </div> 
        <div class="news-web-catalog_item">
            <h3 class="name">Fire devastates roadside camp where Brazilian Indians face 'mass murder'</h3>
            <p>Call for uncontacted tribes' right to determine their own futures to be protected for global Indigenous Peoples' Day... 
 
            </p>
            <a href="/article.html">Via Survivial International<i class="icon icon-coner-top_right"></i></a>
        </div> 
        <div class="news-web-catalog_item">
            <h3 class="name">UN report confirms corruption is biggest threat to ivory, as  officials arrested across Africa and Asia</h3>
            <p>The Matsés people of the Amazon are master farmers. Worldwide, inestimable indigenous agricultural knowledge has been lost in the... 
            </p>
            <a href="/article.html">Via IPSCT<i class="icon icon-coner-top_right"></i></a>
        </div> 
        <div class="news-web-catalog_item">
            <h3 class="name">One Indian killed in Brazil, five wounded as tribal community attacked</h3>
            <p>As the Rio Olympics kick off, Brazil has blocked the construction of a controversial dam in the Amazon rainforest...  
            </p>
            <a href="/article.html">Via Amnesty International<i class="icon icon-coner-top_right"></i></a>
        </div> 
    </div>
    <div class="btn-wrapper">
        <a class="btn btn-load-more">load more</a>
    </div>
</div> 
