<div class="contact-content">
    <div class="contact-item">
        <div class="contact-item-left">
            <div class="contact-item-left-img">
                <img src="../source/images/contact/contact.png">
            </div>
        </div>
        <div class="contact-item-right">
            <div class="title-contact">
                <h2>contact</h2>
            </div>
            <div class="contact-item-text">
                <p>Lorem ipsum dolor sit amet, consectetu adipiscing elit. Nam porttitor facilisis nunc ac luctus. Sed nec sagittis enim. Donec ultrices at purus eu bibendum. Quisque a eleifend ipsum, eu dignissim risus. </p>
            </div>
        </div>
    </div>
</div>
<div class="contact-inputs">
     <form action="#">
        <div class="input">
            <p>full name*</p>
            <span class="error-messs">Please enter your name</span>
            <input name="name" type="text">
        </div>
        <div class="input">
            <p>email address*</p>
            <span class="error-messs">Please enter your email</span>
            <input name="mail" type="text">
        </div>
        <div class="input">
            <p>enquiry*</p>
            <span class="error-messs">Please enter your enquiry</span>
            <textarea name="enquiry"></textarea>
        </div>
        <div class="input checkbox">
            <div class="checkbox-input">
                <input type="checkbox" name="checkbox"> 
            </div>
            <p>I would like to sign up to the Onaway newsletter to recieve monthly updates about Onaway news and projects</p>
        </div>
        <div class="btn-submit">
            <a href="#" class="contact-submit">submit</a>
            <span class="error-messs">See required fields above</span>
        </div>
        

     </form>
 </div>
 <div class="address-partnerships">
    <div class="partnerships">
        <h2>partnerships</h2>
        <p>We often partner with organisations around the world. If you would like to discuss potential projects with the Onaway team please contact us on <a href="#">projects@onaway.org </a> </p>
     </div>
    <div class="address">
        <h2>our adress</h2>
        <p>
            The Onaway Trust
            Donavourd Farmhouse
            Donavourd
            Pitlochry   
            PH16 5JS
        </p>
    </div>

 </div>