footer{
    height: 91px;
    padding: 71px 42px 0 50px;
    @include color('white', 'background');
    @include color('grey-light', 'color');
    @include mq(mb){
        position: relative;
    }
    .footer-left{
        
        
        .laptop{
            display: none;
        }
    }
    .logo{
        position: absolute;
        left: 50%; 
        width: 50px; 
        @include trans3d(-50%, 0);
        @include mq(mb){
            top: 10px;
        }
        img{
            display: block;
            width: 100%;
        }
    }
    .footer-right{
        float: right;
        padding-top: 25px;
        @include mq(mb){
            float: none;  
            padding: 25px 0;
            text-align: center;
        }
            a{
                padding-right: 10px;
                &:last-child{
                    @include mq(mb){
                        padding: 0;
                    }
                }
            }
    }
}
.coppyright{
    float: left;
    font-family: $galanoregular;
    font-size: 14px;
    line-height: 18px;
    width: 356px;
    @include mq(tab){
        width: 300px;
    }
    @include mq(mb){
        width: 100%;
        padding-left: 0;
        float: none;
        padding-top: 10px;
        text-align: center;
    }
    p{
        font-size: 14px;
        line-height: 16px;
        @include mq(mb){
            font-size: 12px;
            line-height: 16px; 
        }
    }
    
}

