.header-wrapp{
    position: relative;
    @include cf();
    @include mq(tab){
        height: 125px;
    }
    @include mq(mb){
        height: 65px;
    }
    .logo-text{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%; 
        width: 92px; 
        img{
            display: block;
            width: 100%;
        }
        transform: translate3d(-40%, -41%, 0);
        .icon-logo-mobile{
            display: none;
        }
        @include mq(tab){
            width: 94px;
            @include trans3d(-50%, -50%);
        }
        @include mq(mb){
            width: 40px;
            @include trans3d(-50%, -50%);
            .icon-logo-mobile{
                display: block;
            }
            .icon-logo-text{
                display: none;
            }
        }
    }
}

.header-mob_wrapp{
    @include mq(tab){
        height: 100%;
        overflow-y: scroll;
    }
    @include mq(mb){
        height: 100vh;
        overflow-y: scroll;
    }
}

header{
    
    padding: 58px 35px 32px 49px;
    transition: all 0.4s ease 0s;
    @include cf();
    @include color('white', 'background');
    @include mq(tab){
        opacity: 0;
        background: #4c5054;
        height: 100vh;
        z-index: 3;
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        padding: 50px 0 40px;
        width: 100%;
        @include trans3d(0, -100%);
        
    }
    @include mq(mb){
        opacity: 0;
        background: #4c5054;
        height: 100vh;
        z-index: 3;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        padding: 40px 0 30px 20px;
        box-sizing: border-box;
        width: 100%;
        @include trans3d(0, -100%);
    }
    .nav-left{
        padding: 0 0 0 50px;
        float: left; 
        @include cf();
        @include mq(tab){
            float: none;
            padding: 0px 0 0 0;
        }
        @include mq(mb){
            float: none;
            padding: 30px 0 0 0;
        }
        li{
            display: inline-block;
            padding-right: 23px;
            @include mq(tab){
                display: block;
                padding: 0 0 0 20px;
            }
            @include mq(mb){
                display: block;
                padding: 0 0 0 0px;
            }
            a{  
                font-family: $grotzecon;  
                font-size: 20px;  
                line-height: 24px;
                letter-spacing: 0px;
                text-transform: uppercase;
                transition: color 0.3s ease 0s;
                @include color('grey', 'color');
                &:hover{
                    @include color('orange', 'color');
                }
                @include mq(tab){
                    font-size: 90px;
                    line-height: 90px;
                    @include color('white', 'color');
                }
                @include mq(mb){

                    font-size: 45px;
                    line-height: 50px;
                    @include color('white', 'color');
                }
                
            }
            .active{
                @include color('orange', 'color');
            }
        }
        
    }
    
    .nav-right{
        padding: 0 62px 0 0;
        float: right;
        @include mq(tab){
            float: none;
            padding: 0;
        }
        @include mq(mb){
            float: none;
            padding: 0;
        }
        a{
            padding-left: 24px;
            font-family: $grotzecon; 
            font-size: 20px;  
            line-height: 24px;
            letter-spacing: 0px;
            text-transform: uppercase;
            transition: color 0.3s ease 0s;
            @include color('grey', 'color');
            &:hover{
                @include color('orange', 'color');
            }
            @include mq(tab){
                display: block;
                font-size: 90px;
                line-height: 90px;
                @include color('white', 'color');
            }
            @include mq(mb){
                display: block;
                padding: 0;
                font-size: 45px;
                line-height: 50px;
                @include color('white', 'color');
            }
                
        }
    }
    .socials{
        display: none;
        position: absolute;
        left: 30px;
        bottom: 70px;
        @include mq(tab){
            display: block;
        }
        @include mq(mb){
            display: block;
        }
        a{
            display: inline-block;
            margin-right: 10px;
            path{
                fill: #fff;
            }
        }
    }   
}
.burger-mobile{
    display: none;
    position: absolute;
    top: 55px;
    left: 30px;
    @include mq(tab){
        display: block;
    }
    @include mq(mb){
        display: block;
        top: 26px;
        left: 16px;
    }
}
.close-nav_btn{
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: $grotzecon;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    @include color('white', 'color');
    @include mq(tab){
        display: block;
    }
    @include mq(mb){
        display: block;
    }
    i{
        position: relative;
        top: 2px;
    }
    
}
.donate-mobile{
    display: none;
    font-family: $grotzecon; 
    font-size: 21px;
    line-height: 20px;
    letter-spacing: 0px;
    text-transform: uppercase;
    position: absolute;
    top: 51px;
    right: 30px;
    @include color('grey', 'color');
    @include mq(tab){
        display: block;

    }
    @include mq(mb){
        display: block;
        font-size: 16px;
        line-height: 20px;
        top: 25px;
        right: 16px;
    }
}