body{
    &.menu-open{
        overflow: hidden;
    }
}

.content-wrap{
    
    max-width: 1200px;
    width: auto;
    margin: 0 auto;
    @include mq(desksmall){
        padding: 0 90px;
    }
    @include mq(tab){
        width: 100%;
        margin: auto;
        padding: 0 90px;
        box-sizing: border-box;
    }
    @include mq(mb){
        padding: 0 27px;
        box-sizing: border-box;
    }
}
.article-wrap{
    padding: 0 405px;
}

.index-nav{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    li{
        padding: 0 0 20px 0;
        a{
            font-size: 18px;
            line-height: 24px;
            text-transform: uppercase;
            font-family: $galanosemibold;
            color: #f6a704;
        }
    }
}


.title-layout-little{
    padding: 50px 0 0 0;
    h2{
        display: inline-block;
        position: relative;
        font-family: $grotzecon;
        font-size: 40px;
        line-height: 44px;
        text-transform: uppercase;
        line-height: 0.8;
        letter-spacing: 0.5;
        &::before{
            content: "";
            display: block;
            width: 40px;
            height: 9px;
            position: absolute;
            left: 50%;
            top: -30px;
            background: url('../images/icons/stripe-mob-orange.png') no-repeat;
            @include trans3d(-50%, 0);         
        }
        @include color('grey', 'color');
        @include mq(tab){
            font-size: 36px;
            line-height: 40px;
        }
        @include mq(mb){
            font-size: 28px;
            line-height: 25px;
        }
        
    }
}


.page-subtitle{
    // width: 80%;
    // margin: 0 auto;
    padding: 55px 0 90px 0;
    @include mq(mb){
        width: auto;
        //padding: 30px 25px 30px 25px;
        padding: 30px 0;
    }
    h4{
        font-family: $galanoregular;
        font-size: 20px;
        line-height: 25px;
        color: #666666;
        @include mq(mb){
            font-size: 16px;
        }
    }    
}

.post-block{
    // width: 80%;
    // margin: 0 auto;
    @include mq(mb){
        width: auto;
        //padding: 0 25px 0 25px;
    }    
}
.project-block-i{
    h2{
        font-family: $grotzecon;
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 60px;
    }
}


.slick-slide{
    height: auto;
}   

.slide{
    position: relative;
    img{
        display: block;
        width: 100%;
    }
}
.page-slider{
    
    padding: 0 0 90px 0;
    @include mq(mb){
        padding: 20px 0 60px 0;
        width: auto;
    }
    .slick-slider{
        .slider-btn_prev{
            position: absolute;
            cursor: pointer;
            left: -50px;
            top: 50%;
            @include trans3d(0, -50%);
            .icon{
                @include mq(mb){
                    display: none;
                }
            }    
        }
        .slider-btn_next{
            cursor: pointer;
            position: absolute;
            right: -50px;
            top: 50%;
            @include trans3d(0, -50%);
            .icon{
                @include mq(mb){
                    display: none;
                }
            }
        }
        .slick-dots{
            position: absolute;
            bottom: -30px;
            left: 50%;
            @include trans3d(-50%, 0);
            @include mq(mb){
                bottom: -20px;
            }
            li{
                display: inline-block;
                cursor: pointer;
                width: 8px;
                height: 8px;
                margin-right: 17px;
                border-radius: 50%;
                background: #4c5054;
                &.slick-active{
                    background: #f5a71c;
                }
                &:last-child{
                    margin: 0;
                }
            }
            button{
                display: none;
            }
        }
    }
}

.frame-image{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


