<div class="newsletter">
    <div class="newsletter-wrapp">
        <div class="title-layout-little">
            <h2>onaway newsletter</h2>
        </div>
        <div class="newsletter-text">
            <p>Phasellus quis rhoncus ante, vitae dictum lacus, morbi vitae tortor id dolor egestas placerat vivamus in quam turpis tristique lobortis nulla
            </p>
        </div>
        <div class="letter-input">
            <div class="input">
                <input type="textarea" placeholder="Your e-mail" class="input">
                <a href="#" class="submit js-submit-form">sign up</a>
            </div>
        </div>
        <div class="thenk-message">
            <a href="#">thankyou</a>
        </div>
    </div>
    
</div>
