<div class="project-block-i">
        <div class="project-partners_list">
            <h2>project partners</h2>
            <div class="project-partners_list_item">
                <div class="img">
                    <img src="./source/images/about/hand.png" alt="">
                    <img class="img_frame" src="" alt="">
                </div>
                <h3 class="name">Concern Worldwide</h3>
                <p> Working directly with the Matsés people, one of the largest indigenous populations in the Peruvian Amazon rainforest, we are implementing strategic programs that provide much needed revenue without destroying their land and chosen way of life. </p>
                <a href="#">Visit<i class="icon icon-coner-top_right"></i></a>
            </div>
        </div>
</div>        