<div class="helping">
    <div class="helping-left">
        <div class="helping-img">
            <img src="../source/images/content/helping.png">
        </div>
    </div>
    <div class="helping-right">
        <h1>HELPING THE ENVIRONMENT</h1>
        <div class="helping-text">
            <p>Lorem ipsum dolor sit amet, consectetu adipiscing elit. 
                Nam porttitor facilisis nunc ac luctus. Sed nec sagittis enim. 
                Donec ultrices at purus eu bibendum. 
                Quisque a eleifend ipsum, eu dignissim risus.
            </p>
            <a href="#">FIND OUT MORE</a>
        </div>
    </div>

   
    
</div>