
    <nav class="filters-panell">
        <div class="nav-about-list js-about-filter">
            <ul>
                <li><a href="/about.html" class="active">ABOUT</a></li>
                <li><a href="/about_trustees.html">TRUSTEES</a></li>
                <li><a href="/about_library.html">LIBRARY</a></li>
                <li><a href="/about_partnerships.html">PARTNERSHIPS</a></li>   
            </ul>
            <i class="icon icon-filter-arrow"></i>
        </div>    
    </nav>
    <div class="about-content">
        <div class="page-subtitle">
            <h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac accumsan urna. Quisque lacinia vehicula elit nec elementum. Cras tincidunt malesuada ligula sed feugiat. Donec a diam nec purus feugiat interdum at quis enim. Vivamus molestie risus vitae mauris dictum suscipit. Sed commodo imperdiet eros, sed maximus justo feugiat quis. Maecenas ut urna et elit maximus ornare pellentesque nec velit. 
                Nullam malesuada fringilla justo, eget fringilla massa. 
            </h4>
        </div>
        <div class="post-block">
            <h2>established 1974</h2>
            <p>The Onaway Trust was established in 1974 with the overall objective to relieve poverty and suffering. Spanning four decades, Onaway has supported a diverse and extensive number of projects worldwide, many of which have grown to become successful, sustainable organisations in their own right. Central to Onaway's focus throughout has been the assistance for Indigenous Cultures, particularly Native Americans. Onaway's founder, John Morris visited the "Indians" in the early 1970s having been inspired by what he knew of their sacred, innate wisdom and respect for all living things. However, whilst sojourning from tribe to tribe, he quickly realised that their spirits had been almost shattered - the result of genocide and the ongoing oppression they'd suffered since the historic "discovery" of the Americas in 1492. Hence, Onaway was born.</p>
            <div class="quatation">
                
                <p>
                    Perhaps other institutions have had more money to give but Onaway has been uncannily prescient in its choices of people and projects to support. This has made all the difference!
                </p>
                <strong>
                    José Barreiro, Director of the Office of Latin America
                </strong>
            </div>
        </div>

        
        

        <div class="post-block">
            <p>
                In the last quarter century, various groups have benefited from Onaway's help. Onaway's grants aim to provide a measure of physical and spiritual upliftment, particularly amongst indigenes, by providing seed grants to groups and organisations with self-help and self sufficiency aims.
            </p>
            <p>The Onaway Trust was established in 1974 with the overall objective to relieve poverty and suffering. Spanning four decades, Onaway has supported a diverse and extensive number of projects worldwide, many of which have grown to become successful, sustainable organisations in their own right. Central to Onaway's focus throughout has been the assistance for Indigenous Cultures, particularly Native Americans. Onaway's founder, John Morris visited the "Indians" in the early 1970s having been inspired by what he knew of their sacred, innate wisdom and respect for all living things. However, whilst sojourning from tribe to tribe, he quickly realised that their spirits had been almost shattered - the result of genocide and the ongoing oppression they'd suffered since the historic "discovery" of the Americas in 1492. Hence, Onaway was born.</p>
        </div>

        <div class="post-block">
            <h2>our vision</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus nibh, ornare sit amet congue vel, condimentum vel dolor. Pellentesque non mi non orci ullamcorper cursus. Aliquam feugiat volutpat sem ac fermentum. Pellentesque velit nisi, mattis consequat sem mattis, aliquet lacinia est. Sed interdum libero sit amet diam sodales, nec maximus ex hendrerit. Nulla eleifend tincidunt nibh ut gravida. Fusce auctor congue elit, ut sollicitudin mauris. Ut libero tellus, ultricies sit amet blandit vitae, gravida eu metus. Nulla aliquam aliquam massa nec suscipit. Fusce lobortis, massa in lobortis molestie, nunc neque consequat ipsum, sagittis laoreet ante ante eu enim. Praesent auctor lacinia augue vitae porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisl purus, rhoncus nec quam id, fringilla porta orci. Nulla rutrum interdum lorem sit amet lobortis. Nam viverra sollicitudin porttitor. Quisque volutpat nibh sit amet tortor feugiat bibendum.</p>
            <p>Curabitur sit amet lorem mattis, ultrices neque sed, euismod quam. Nunc enim purus, posuere sed sapien id, tincidunt hendrerit quam. Curabitur quis dignissim purus. Morbi ultricies felis eget hendrerit tincidunt. Nam sagittis, sapien in porta pharetra, felis ipsum egestas ipsum, ut fermentum nibh ipsum quis risus. Fusce tempor convallis ligula, eu efficitur nulla luctus a. Nam tellus tellus, egestas vel porta a, laoreet id magna. Morbi consequat ante vitae tempus consequat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In metus lorem, pretium sed arcu non, faucibus varius nunc. Donec lobortis ante vel volutpat vulputate. Nam vitae ante tincidunt, iaculis eros id, scelerisque ante. Sed quis lacus et ex mattis pulvinar. Mauris pellentesque risus augue, ac ultricies augue porttitor sit amet.</p>
        </div>
       
        <div class="page-slider">
            <div class="slider js-slick">
                <div class="slide">
                    <img src="./source/images/about/about-slide.png" alt="">
                    <img src="../source/images/general/img-big-frame.png" class="frame-image">
                </div>
                <div class="slide">
                    <img src="./source/images/about/about-slide.png" alt="">
                    <img src="../source/images/general/img-big-frame.png" class="frame-image">
                </div>
                <div class="slide">
                    <img src="./source/images/about/about-slide.png" alt="">
                    <img src="../source/images/general/img-big-frame.png" class="frame-image">
                </div>
                <div class="slide">
                    <img src="./source/images/about/about-slide.png" alt="">
                    <img src="../source/images/general/img-big-frame.png" class="frame-image">
                </div>
            </div>
        </div>

        <div class="post-block">
            <p>Integer bibendum neque ut leo volutpat, eu varius velit elementum. Suspendisse eleifend nec tortor id vehicula. Nullam feugiat nisi nec ante aliquam, vitae accumsan dui posuere. Phasellus eu placerat nisi, in imperdiet lacus. Morbi elementum ligula sit amet sodales venenatis. In tempor tortor diam, non ullamcorper metus maximus eu. Cras ut nisl consectetur, ultricies nulla sit amet, auctor urna. Morbi vitae ante eu nisl posuere vulputate vitae id nisi. Cras lacus leo, mollis vitae tempor vitae, pellentesque in purus. Vestibulum sagittis ullamcorper aliquet.</p>
            <p>Curabitur sit amet lorem mattis, ultrices neque sed, euismod quam. Nunc enim purus, posuere sed sapien id, tincidunt hendrerit quam. Curabitur quis dignissim purus. Morbi ultricies felis eget hendrerit tincidunt. Nam sagittis, sapien in porta pharetra, felis ipsum egestas ipsum, ut fermentum nibh ipsum quis risus. Fusce tempor convallis ligula, eu efficitur nulla luctus a. Nam tellus tellus, egestas vel porta a, laoreet id magna. Morbi consequat ante vitae tempus consequat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In metus lorem, pretium sed arcu non, faucibus varius nunc. Donec lobortis ante vel volutpat vulputate. Nam vitae ante tincidunt, iaculis eros id, scelerisque ante. Sed quis lacus et ex mattis pulvinar. Mauris pellentesque risus augue, ac ultricies augue porttitor sit amet.</p>
        </div>

        <div class="post-block">
            <div class="img">
                <img src="./source/images/about/about-slide.png" alt="">
                <img src="../source/images/general/img-big-frame.png" class="frame-image">
            </div>
        </div>

        <div class="post-block">
            <p>Integer bibendum neque ut leo volutpat, eu varius velit elementum. Suspendisse eleifend nec tortor id vehicula. Nullam feugiat nisi nec ante aliquam, vitae accumsan dui posuere. Phasellus eu placerat nisi, in imperdiet lacus. Morbi elementum ligula sit amet sodales venenatis. In tempor tortor diam, non ullamcorper metus maximus eu. Cras ut nisl consectetur, ultricies nulla sit amet, auctor urna. Morbi vitae ante eu nisl posuere vulputate vitae id nisi. Cras lacus leo, mollis vitae tempor vitae, pellentesque in purus. Vestibulum sagittis ullamcorper aliquet.</p>
            <p>Curabitur sit amet lorem mattis, ultrices neque sed, euismod quam. Nunc enim purus, posuere sed sapien id, tincidunt hendrerit quam. Curabitur quis dignissim purus. Morbi ultricies felis eget hendrerit tincidunt. Nam sagittis, sapien in porta pharetra, felis ipsum egestas ipsum, ut fermentum nibh ipsum quis risus. Fusce tempor convallis ligula, eu efficitur nulla luctus a. Nam tellus tellus, egestas vel porta a, laoreet id magna. Morbi consequat ante vitae tempus consequat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In metus lorem, pretium sed arcu non, faucibus varius nunc. Donec lobortis ante vel volutpat vulputate. Nam vitae ante tincidunt, iaculis eros id, scelerisque ante. Sed quis lacus et ex mattis pulvinar. Mauris pellentesque risus augue, ac ultricies augue porttitor sit amet.</p>
        </div>      
    </div>
