<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <title>{{head.title}}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta content="telephone=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
    {{!-- <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"> --}}

    <meta name="msapplication-TileColor" content="#ffffff">
     
    <meta name="theme-color" content="#ffffff">
    
    
    <link href="source/css/main{{hash}}.css" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/b886cba2-ad47-46db-acd4-88416717be36.css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    
    
</head>
