<div class="main-banner">
    {{#if img}}
         <div class="img-block">
            <img src="{{img}}" class="desk" alt="">
            <img src="{{imgmob}}" alt="" class="mob">
            <img src="../source/images/general/img-big-frame.png" class="shark">
        </div>
    {{else}}
        <div class="img-block ">
            <img src="../source/images/general/empty-desktop.png" class="desk" alt="">
            <img src="../source/images/general/empty-mobile.png" alt="" class="mob">
            <img src="../source/images/general/img-big-frame.png" class="shark">
        </div>
    {{/if}}
   
    <div class="banner-text">
        <h1>{{title}}</h1>
        {{#if link}}
            <a href="#">{{link}}</a>
        {{/if}}
        {{#if subtitle}}
            <h4>{{subtitle}}</h4>
        {{/if}}
        {{#if text}}
            <p>{{text}}</p>
        {{/if}}
    </div>
</div>
