<div class="banner-grey">
    
    <div class="b-g-content">
        <div class="title-layout-little white-text">
            <h2>about onaway</h2>
        </div>
        <div class="b-g-text">
            <p>Onaway’s vision for a world where Native Peoples are able to maintain their lifestyles and preserve their knowledge and traditions for a sustainable future.</p>
        </div>
        <a href="#">more about us</a>
    </div>
    <div class="b-g-content">
        <div class="title-layout-little white-text ">
            <h2>partnerships</h2>
        </div>
        <div class="b-g-text">
            <p>We partner with organisations all over the world to help make Onaway’s vision are reality. Explore the organsations we have worked with before</p>
        </div>
        <a href="#">view partnerships</a>
    </div>
</div>