.banner-light{
    // height: 350px;
    width: 95%;
    margin: 0 auto;
    background-image: url('../images/content/banner-light.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    @include mq(mb){
        background-image: url('../images/content/banner-grey-light-mobile.png');
        padding: 37px 0 40px 0;
    }
    .banner-light-item{
        display: inline-block;
        width: 340px;
        padding: 75px 135px 93px 135px;
        line-height: 1.4;
        @include mq(deskbig){
            padding: 75px 35px 93px 35px;
        }
        @include mq(tab){
            padding: 75px 5px 93px 5px;
        }
        @include mq(mb){
            width: 100%;
            box-sizing: border-box;
            padding: 0px 40px 23px 40px;
        }
        .title-layout-little{
            padding: 50px 0 18px 0;
            @include mq(mb){
                padding: 50px 0 13px;
            }
        }
        .text{
            p{
                font-size: 14px;
                line-height: 21px;
                font-family: $galanoregular;
                padding:  0 0 12px 0;
                @include color('grey', 'color');  
               
            }
            a{  
                display: inline-block;
                font-size: 20px;
                font-family: $grotzecon;
                text-transform: uppercase;
                opacity: 1;
                padding: 0 10px;
                transition: opacity 0.3s ease 0;
                @include color('orange', 'color');
                &:hover{
                    opacity: 0.8;
                }
            }
        }
        // .form{
        //     position: relative;
        //     input{
        //         height: 65px;
        //         width: 585px;
        //         position: absolute;
        //         top: 50%; 
        //         left: 50%; 
        //         margin-right: -50%; 
        //         transform: translate(-50%, -50%);
        //     }
        //     .search-btn{
        //         position: absolute;
        //         background-color: transparent;
        //         border: 0;
        //         right: 0;
        //         .sing{
        //             font-family: $grotzecon;
        //             font-size: 21px;
        //             text-transform: uppercase;
        //             @include color('orange', 'color');
        //         }
        //     }
        // }   
    }       
}
.news-page{
    position: relative;
    .newsletter{
        background-color: transparent;
        @include mq(tab){
            padding: 33px 30px 60px 33px;
        }
        @include mq(mb){
            padding: 33px 20px;
        }
        .newsletter-wrapp{
            max-width: 580px;
            min-width: 256px;   
            .letter-input{
                height: 65px;
                @include mq(tab){
                    padding: 0 60px;
                }
                @include mq(mb){
                    padding: 0 20px;
                }
                a{
                    @include mq(tab){
                        right: 80px;
                    }
                    @include mq(mb){
                        right: 40px;
                    }
                }
                
                input{
                    border: none;
                }
            }
        }    
    }    
}