.causes-catalog{
    padding: 60px 0 71px 0;
    
    @include cf();
    @include color('white', 'background');
    @include mq (tab){
        padding-top: 0px;
        padding-bottom: 54px;
    }
    @include mq(mb){
        padding: 0 0 20px 0;
    }
}
.causes-catalog_item{
    border-top: solid 1px;
    @include color('border', 'border-color');
    padding: 40px 0 60px 0;
    @include cf();
    &:first-child{
        border: none;
    }

    &:nth-child(even){
        .causes-catalog_item_img{
            float: left;
            box-sizing: border-box;
            width: 50%;
            padding: 10px 40px 0 42px;
            @include mq(tab){
                padding: 0 20px 0 0;
            }
            @include mq(mb){
                float: none;
                width: 100%;
                padding: 0;
            }
        }
        .causes-catalog_item_content{
            float: right;
            padding: 46px 0 0 120px;
            @include mq(desksmall){
                padding: 46px 0 0 20px;
            }
            @include mq(tab){
                padding: 0 0 0 20px;
            }
            @include mq(mb){
                float: none;
                padding: 0;

            }
        }

    }
    @include mq(mb){
        position: relative;
        padding-top: 120px;
        padding-bottom: 25px
    }
}    
.causes-catalog_item_img{
    width: 48%;
    padding: 0px 60px 0px 0px;
    float: right;
    box-sizing: border-box;
    @include mq (tab){
        width: 50%;
        padding: 0 0 0 20px;
        
    }
    @include mq (mb){
        width: 100%;
        // height: 51%;
        float: none;
        padding: 0;
    }
    .causes-image{
        @include mq(mb){
            padding: 0 0 20px 0;
        }
        .causes-img{
            display: block;
            width: 100%;
            @include mq (mb){
                width: 100%;                      
            }
        }
    }     
}
.causes-catalog_item_content{
    width: 50%;
    float: left;
    box-sizing: border-box;
    
    padding: 61px 100px 0 0px;
    @include mq(desksmall){
        padding: 95px 0 0 0;
    }
    @include mq(tab){
        padding: 30px 20px 0 0;
    }
    @include mq(mb){
        width: 100%;
        float: none;
        padding:0;
    }
    .title-layout{
        padding: 61px 105px 0 0;
        opacity: 1;
        transition: opacity 0.3s ease 0s;
        &:hover{
            opacity: 0.7;
        }
        @include mq(desksmall){
            padding: 61px 75px 0 0;
        }
        @include mq(tab){
            padding: 0;
        }
        @include mq(mb){
            position: absolute;
            top: 32px;
            left: 0;
            text-align: left; 
            padding: 0;
        }
        h2{
            font-size: 75px;
            line-height: 60px;
            @include mq(tab){
                font-size: 55px;
                line-height: 45px;
            }
            @include mq(mb){
                font-size: 36px;
                line-height: 30px;
            }
        }
    }
    .causes-text{
        padding-left: 113px;
        padding-top: 39px;
        @include mq(tab){
            padding-top: 15px;
            padding-left: 0;
        }
        @include mq(mb){
            padding:0;
        }
        p{  
            padding-bottom: 16px;
            font-family: $galanoregular;
            font-size: 14px;
            line-height: 20px;
            @include color('grey', 'color');
        }
        a{
            font-size: 20px;
            line-height: 24px;
            font-family: $grotzecon;
            text-transform: uppercase;
            transition: opacity 0.3s ease 0s;
            @include color('orange', 'color');
            &:hover{
                opacity: 0.8;
            }
            
        }
    }
}
