.protecting{
padding-top: 120px;
padding-bottom: 75px;
border-bottom: solid 1px;
@include cf();
@include color('border', 'border-color');
    .protecting-left{
        width: 50%;
        float: left;
        padding-top: 100px;
        h1{
            padding-bottom: 45px;
            font-size: 75px;
            font-family: $grotzecon;
            letter-spacing: -5px;
            @include color('grey', 'color');
            }
            .protecting-text{
            padding-left: 95px;
            padding-right: 165px;
                p{  
                padding-bottom: 21px;
                font-family: $galanoregular;
                font-size: 14px;
                line-height: 1.4;
                @include color('grey', 'color');
                }
                a{
                font-size: 20px;
                font-family: $grotzecon;
                @include color('orange', 'color');
                }
            }
    }
    .protecting-right{
    width: 50%;
    float: right;
        .protecting-img{
            img{
                display: block;
                width: 100%;
            }
        }
    }
}