.providing{
    padding-top: 90px;
    @include cf();
    @include mq(mb){
        padding-top: 30px;
    }
    .providing-left{
        width: 50%;
        float: left;
        font-family: $galanosemibold;    
        font-size: 24px;
        line-height: 24px;
        @include color('grey', 'color'); 
        @include mq(tab){
            width: 100%;
            float: none;
            padding-bottom: 20px;
        }  
        @include mq(mb){
            width: 100%;
            float: none; 
            box-sizing: border-box;
            padding: 0 60px 10px 0;
            font-size: 18px;
            line-height: 20px;
            
        }
    }
    .providing-right{
        width: 49%;
        float: right;
         
        @include mq(tab){
            width: 100%;
            float: none;
            padding-bottom: 20px;
        }
        @include mq(mb){
            width: 100%;
            float: none; 
            padding-bottom: 20px;
        }
        P{
            font-family: $galanoregular;    
            font-size:   16px;
            line-height: 25px;
            @include color('grey', 'color'); 
            @include mq(mb){
                font-size: 17px;
                line-height: 25px;
            }
        }
    }
}