<div class="donate-content">
    <div class="our-donate">
        <div class="donate-left">
            <div class="donate-image">
                <img src="../source/images/content/vision.png" class="donate-img">
            </div>
        </div>
        <div class="donate-right">
            <div class="title-layout"> 
                <h2>our vision</h2>
            </div> 
            <div class="donate-text">
                <p>Lorem ipsum dolor sit amet, consectetu adipiscing elit. 
                    Nam porttitor facilisis nunc ac luctus. Sed nec sagittis enim. 
                    Donec ultrices at purus eu bibendum. 
                    Quisque a eleifend ipsum, eu dignissim risus.
                </p>
            </div>
        </div>
    </div>
    <div class="form-donate">
        <div class="post-block">
            <h2>section title</h2>
            <p>The Amazon is the greatest rainforest on the Earth. It is a land of superlatives, where greatest exaggeration falls short of eclipsing the reality of its grandeur and significance to human life. As vast as it is diverse, the Amazon is a repository for one in every ten species on the planet and one fifth of the world’s fresh water that flows to the ocean.  A few hectares of forest in certain regions of Peru may contain as many species of trees as found within the entire continental United States. The total biomass of carbon in the Amazon Basin is estimated at 86 billion metric tons. To place it in perspective, the annual CO2 emissions from the United States represent less than a tenth of a percent of this figure. The Amazon, the largest rainforest in the world, is the lungs of our planet.</p>
        </div>
        <div class="donate_form-column">
            <form>
                <div class="form-row">
                    <label for="nickname">amout</label>
                    <input type="text" id="nickname" name="nickname">
                    <div class="form-row_checkbox">
                            <div class="radio">
                                <input id="radio-1" name="radio" type="radio" checked>
                                <label for="radio-1" class="radio-label"><p>Amazon is the greatest rainforest</p></label>
                            </div>

                            <div class="radio">
                                <input id="radio-2" name="radio" type="radio">
                                <label  for="radio-2" class="radio-label"><p>Amazon is the greatest rainforest</p></label>
                            </div>
                    </div>        
                </div>  
                <div class="form-row">
                    <div class="form-row_50">
                        <label for="user-email">first name</label>
                        <input type="email" id="user-email" name="user-email">
                    </div>
                    <div class="form-row_50">
                        <label for="user-email">surname</label>
                        <input type="email" id="user-email" name="user-email">
                    </div>    
                </div>
                <div class="form-row">
                    <label for="nickname">amout</label>
                    <input type="text" id="nickname" name="nickname">
                </div>
                <div class="form-row">
                    <label for="nickname">amout</label>
                    <input type="text" id="nickname" name="nickname">
                </div>
                <div class="form-col-card">
                    <div class="form-row">
                        <label for="nickname">amout</label>
                        <input type="text" id="nickname" name="nickname">        
                    </div>  
                    <div class="form-row">
                        <div class="form-row_50">
                            <label for="user-email">first name</label>
                            <input type="email" id="user-email" name="user-email">
                        </div>    
                        <div class="form-row_50">
                            <label for="user-email">surname</label>
                            <input type="email" id="user-email" name="user-email">
                        </div>   
                    </div>     
                </div>
                <div class="form-text">
                    <span>huhuhuhuhu</span>
                    <p>The Amazon is the greatest rainforest on the Earth. It is a land of superlatives, where greatest exaggeration falls short of eclipsing the reality of its grandeur and significance to human life. As vast as it is diverse, the Amazon is a repository for one in every ten species on the planet and one fifth of the world’s fresh water that flows to the ocean. A few hectares of forest in certain regions of Peru may contain as many species of trees as found within the entire continental United States. </p>

                    <div class="form-row_checkbox">
                            <div class="radio">
                                <input id="radio-3" name="radio_t" type="radio" checked>
                                <label for="radio-3" class="radio-label"><p>Amazon is the greatest rainforest</p></label>
                            </div>

                            <div class="radio">
                                <input id="radio-4" name="radio_t" type="radio">
                                <label  for="radio-4" class="radio-label"><p>Amazon is the greatest rainforest</p></label>
                            </div>
                    </div>
                </div>
                <div class="btn-wrapper">
                    <a class="btn btn-load-more">load more</a>
                </div>
            </form>    
        </div>
    </div>
</div>
  