<div class="causes-catalog">
    <div class="causes-catalog_item">
        <div class="causes-catalog_item_img">
            <div class="causes-image">
                <img src="../source/images/cause/protecting.jpg" class="causes-img">
            </div>
        </div>
        <div class="causes-catalog_item_content">
            <a href="/cause.html" class="title-layout"> 
                <h2>PROTECTING CIVIL LIBERTIES</h2>
            </a> 
            <div class="causes-text">
                <p>Lorem ipsum dolor sit amet, consectetu adipiscing elit. 
                Nam porttitor facilisis nunc ac luctus. Sed nec sagittis enim. 
                Donec ultrices at purus eu bibendum. 
                Quisque a eleifend ipsum, eu dignissim risus.
                </p>
                <a href="/cause.html">FIND OUT MORE</a>
            </div>
        </div>
    </div>
    <div class="causes-catalog_item">
        <div class="causes-catalog_item_img">
            <div class="causes-image">
                <img src="../source/images/cause/helping.jpg" class="causes-img">
            </div>
        </div>
        <div class="causes-catalog_item_content">
            <a href="/cause.html" class="title-layout"> 
                <h2>HELPING THE ENVIRONMENT</h2>
            </a> 
            <div class="causes-text">
                <p>Lorem ipsum dolor sit amet, consectetu adipiscing elit. 
                Nam porttitor facilisis nunc ac luctus. Sed nec sagittis enim. 
                Donec ultrices at purus eu bibendum. 
                Quisque a eleifend ipsum, eu dignissim risus.
                </p>
                <a href="/cause.html">FIND OUT MORE</a>
            </div>
        </div>
    </div>
    <div class="causes-catalog_item">
        <div class="causes-catalog_item_img">
            <div class="causes-image">
                <img src="../source/images/cause/fighting.jpg" class="causes-img">
            </div>
        </div>
        <div class="causes-catalog_item_content">
            <a href="/cause.html" class="title-layout"> 
                <h2>FIGHTING RIGHTS ABUSES</h2>
            </a> 
            <div class="causes-text">
                <p>Lorem ipsum dolor sit amet, consectetu adipiscing elit. 
                Nam porttitor facilisis nunc ac luctus. Sed nec sagittis enim. 
                Donec ultrices at purus eu bibendum. 
                Quisque a eleifend ipsum, eu dignissim risus.
                </p>
                <a href="/cause.html">FIND OUT MORE</a>
            </div>
        </div>
    </div>
</div>