<div class="fighting">
    
    <div class="fighting-left">
        <h1>FIGHTING RIGHTS ABUSES</h1>
        <div class="fighting-text">
            <p>Lorem ipsum dolor sit amet, consectetu adipiscing elit. 
                Nam porttitor facilisis nunc ac luctus. Sed nec sagittis enim. 
                Donec ultrices at purus eu bibendum. 
                Quisque a eleifend ipsum, eu dignissim risus.
            </p>
            <a href="#">FIND OUT MORE</a>
        </div>
    </div>

    <div class="fighting-right">
        <div class="fighting-img">
            <img src="../source/images/content/fighting.png">
        </div>
    </div>
    
</div>