<div class="progect-content">
    <div class="page-subtitle">
        <h4>Acaté brings much needed support to the struggling indigenous people of the Peruvian Amazon. Increasingly pressured and threatened by extraction industries such as petroleum, timber, and biopiracy, we founded our organization to provide regenerative alternatives to these ecologically and socially damaging industries.</h4> 
    </div>
    <div class="post-block">
        <h2>background</h2>
        <p>Working directly with the Matsés people, one of the largest indigenous populations in the Peruvian Amazon rainforest, we are implementing strategic programs that provide much needed revenue without destroying their land and chosen way of life. By helping the Matsés, and other indigenous peoples of the Amazon, to maintain a more sustainable and harmonious way of life, both their culture and the ecology of their territory can be protected and nurtured.
            By helping the Matsés, and other indigenous peoples of the Amazon, to maintain a more sustainable and harmonious way of life, both their culture and the ecology of their territory can be protected and nurtured.</p>
        <p>By helping the Matsés, and other indigenous peoples of the Amazon, to maintain a more sustainable and harmonious way of life, both their culture and the ecology of their territory can be protected and nurtured.</p>
        <div class="quatation small">
            
            <p>
                We are in reality laying the foundation stone for civilising a people hitherto living in a perfectly barbarous state, replete with treachery and beyond.
            </p>
            <strong>
                TYLER, BRITISH COLONIAL OFFICIAL 
            </strong>
        </div>
        <p>The Amazon is the greatest rainforest on the Earth. It is a land of superlatives, where greatest exaggeration falls short of eclipsing the reality of its grandeur and significance to human life. As vast as it is diverse, the Amazon is a repository for one in every ten species on the planet and one fifth of the world’s fresh water that flows to the ocean. A few hectares of forest in certain regions of Peru may contain as many species of trees as found within the entire continental United States.
        The total biomass of carbon in the Amazon Basin is estimated at 86 billion metric tons. To place it in perspective, the annual CO2 emissions from the United States represent less than a tenth of a percent of this figure. The Amazon, the largest rainforest in the world, is the lungs of our planet.</p> 
        <p>The total biomass of carbon in the Amazon Basin is estimated at 86 billion metric tons. To place it in perspective, the annual CO2 emissions from the United States represent less than a tenth of a percent of this figure. The Amazon, the largest rainforest in the world, is the lungs of our planet.</p>     
    </div>
    <div class="post-block">
        <h2>why this matters</h2>
        <p>The Matsés, or Jaguar People, inhabit some of most remote rainforests in the world. Divided across the vast expanse of the Amazon and the countries of Peru and Brazil. Across the river into Brazil, part of their territory lies within the Valle do Javari Indigenous Reserve, which contains the largest number of uncontacted groups remaining in the world. The Matsés inhabit the heart of the Amazon Rainforest, an area of staggering natural beauty and almost inconceivable biodiversity, but a land deeply troubled and beset with threats from narco-traffickers, multinational petroleum companies, loggers and wildcat gold miners. It is one of the last frontiers. Although it is taking place with different actors, the indigenous situation in the Amazon evokes hauntingly tragic parallels to the United States’ displacement of Native Americans a little over a century ago.</p>
        <p>Tribal peoples understand and value the rainforest because they are dependent upon it. This relationship extends beyond a utilitarian reliance; there is spiritual link to the forest, a sense of interconnectivity, difficult to comprehend through the compartmentalized Western mindset but one no less real. It is not a coincidence that the remaining tracts of pristine rainforest in the Neotropics overlap with areas of indigenous habitation.</p>
    </div>
     <div class="page-slider">
            <div class="slider js-slick">
                <div class="slide">
                    <img src="./source/images/about/about-slide.png" alt="">
                    <img src="../source/images/general/img-big-frame.png" class="frame-image">
                </div>
                <div class="slide">
                    <img src="./source/images/about/about-slide.png" alt="">
                    <img src="../source/images/general/img-big-frame.png" class="frame-image">
                </div>
                <div class="slide">
                    <img src="./source/images/about/about-slide.png" alt="">
                    <img src="../source/images/general/img-big-frame.png" class="frame-image">
                </div>
                <div class="slide">
                    <img src="./source/images/about/about-slide.png" alt="">
                    <img src="../source/images/general/img-big-frame.png" class="frame-image">
                </div>
            </div>
    </div> 
    <div class="post-block">
        <p>By estimates, 95% of the population of indigenous peoples perished following the ‘discovery’ of the New World by Columbus. In the prior century, it is estimated that over 90 tribes went extinct in Brazil alone. The Amerindian peoples that survived the devastation of European conquest and disease, face enormous health, environmental and social challenges in the setting of limited extrinsic resources. In the 21st century, a handful of tribes still live in its most remote reaches and are completely dependent on the forest. The tribes that have emerged from these areas face staggering odds and adversity. They do not seek to maintain a state of existence frozen in time, but to adapt and survive in a manner that ensures self-sufficiency and hope for the future of their people. These tribes struggle and face deep generational divides; cultural erosion, depression, high rates of alcoholism and suicide all plague their communities. The remote tribes of the Amazon remain as among the most marginalized peoples in the Western Hemisphere.</p>
    </div>
    <div class="post-block">
        <div class="img">  
            <img src="./source/images/about/about-slide.png" alt="">
            <img src="../source/images/general/img-big-frame.png" class="frame-image">        </div>
    </div>
    <div class="post-block">
        <p>Working directly with the Matsés people, one of the largest indigenous populations in the Peruvian Amazon rainforest, we are implementing strategic programs that provide much needed revenue without destroying their land and chosen way of life. By helping the Matsés, and other indigenous peoples of the Amazon, to maintain a more sustainable and harmonious way of life, both their culture and the ecology of their territory can be protected and nurtured.</p>
        <p>The Amazon is the greatest rainforest on the Earth. It is a land of superlatives, where greatest exaggeration falls short of eclipsing the reality of its grandeur and significance to human life. As vast as it is diverse, the Amazon is a repository for one in every ten species on the planet and one fifth of the world’s fresh water that flows to the ocean.  A few hectares of forest in certain regions of Peru may contain as many species of trees as found within the entire continental United States. The total biomass of carbon in the Amazon Basin is estimated at 86 billion metric tons. To place it in perspective, the annual CO2 emissions from the United States represent less than a tenth of a percent of this figure. The Amazon, the largest rainforest in the world, is the lungs of our planet.</p>
    </div>
    <div class="post-block">
        <h2>the outcome</h2>   
        <p>Integer bibendum neque ut leo volutpat, eu varius velit elementum. Suspendisse eleifend nec tortor id vehicula. Nullam feugiat nisi nec ante aliquam, vitae accumsan dui posuere. Phasellus eu placerat nisi, in imperdiet lacus. Morbi elementum ligula sit amet sodales venenatis. In tempor tortor diam, non ullamcorper metus maximus eu. Cras ut nisl consectetur, ultricies nulla sit amet, auctor urna. Morbi vitae ante eu nisl posuere vulputate vitae id nisi. Cras lacus leo, mollis vitae tempor vitae, pellentesque in purus. Vestibulum sagittis ullamcorper aliquet.</p>
        <p>Curabitur sit amet lorem mattis, ultrices neque sed, euismod quam. Nunc enim purus, posuere sed sapien id, tincidunt hendrerit quam. Curabitur quis dignissim purus. Morbi ultricies felis eget hendrerit tincidunt. Nam sagittis, sapien in porta pharetra, felis ipsum egestas ipsum, ut fermentum nibh ipsum quis risus. Fusce tempor convallis ligula, eu efficitur nulla luctus a. Nam tellus tellus, egestas vel porta a, laoreet id magna. Morbi consequat ante vitae tempus consequat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In metus lorem, pretium sed arcu non, faucibus varius nunc. Donec lobortis ante vel volutpat vulputate. Nam vitae ante tincidunt, iaculis eros id, scelerisque ante. Sed quis lacus et ex mattis pulvinar. Mauris pellentesque risus augue, ac ultricies augue porttitor sit amet.</p>
    </div>
    {{> project-updates/project-updates}}
    {{> project-partners/project-partners}}
    
    
</div>
  